<div  class="radio radio-primary"
      ng-repeat="option in question.options track by $index">
    <input  name="q_{{question.pk_qid}}"
            id="q_{{question.pk_qid}}_{{$index}}"
            type="radio"
            class="fa fa-check-square-o fa-2x"
            ng-model="question.answer"
            ng-value="option"
            ng-change="wizServ.slaChange(option)"
            required-err-type="wizardSingle"
            ng-required="question.flg_mandatory == 1"
            ng-disabled="question.disabled"
            disable-valid-styling="true">
  <label for="q_{{question.pk_qid}}_{{$index}}">
      {{option.discol}} <span ng-if="wizServ.dataForm.subscription.permis_price == '1'">[{{option.slaoptions.price | currency:""}}]</span>
  </label>
</div>
