<select name="q_{{question.pk_qid}}"
        class="form-control"
        ng-model="question.answer"
        ng-options="option.discol for option in question.options"
        ng-required="question.flg_mandatory == 1"
        required-err-type="wizardSingleSelect"
        ng-disabled="question.disabled"
        disable-valid-styling="true">
</select>
<div id="profile-details" 
        ng-if="question.answer && question.answer != ''"
		style="margin-top:15px;">
<div class="form-group"
        ng-if="question.answer && question.answer != ''" 
        ng-repeat="(key,value) in question.projectDetails[question.answer.keycol]">
<label style="width: 100%;">
{{question.projectDetails[question.answer.keycol][key].label}}
<input name="{{key}}"
        type="text"
        class="form-control"
        ng-model="question.projectDetails[question.answer.keycol][key].val"
        ng-disabled="true"
        disable-valid-styling="true"/>
</label>
</div>
</div>