<div  class="radio radio-primary"
      ng-repeat="option in question.options track by $index">
    <input  name="q_{{question.pk_qid}}"
            id="q_{{question.pk_qid}}_{{$index}}"
            type="radio"
            class="fa fa-check-square-o fa-2x"
            ng-disabled="question.disabled"
            ng-model="question.answer"
            ng-value="option"
            required-err-type="wizardSingle"
            ng-required="question.flg_mandatory == 1"
            disable-valid-styling="true">
  <label for="q_{{question.pk_qid}}_{{$index}}">
      <span ng-bind-html="option.discol"></span>
  </label>
</div>
