.charttitle
{
	color:#ffffff;
	background-color:#727192;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A7BF', endColorstr='#727192'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#A8A7BF), to(#727192)); 
	background: -moz-linear-gradient(top,  #A8A7BF,  #727192);
}

