<div class="hierarchical-control">
  <div class="control-group">
    <button type="button" ng-if="showButton" class="pull-down" ng-click="onButtonClicked($event)"><div class="arrow-down"></div></button>
    <div class="hierarchical-input form-control" ng-class="{'with-btn': showButton}" ng-click="onControlClicked($event)">
      <span ng-if="selectedItems.length == 0" class="placeholder">{{placeholder}}</span>
      <span ng-if="selectedItems.length > 0" class="selected-items">
        <span ng-repeat="i in selectedItems" class="selected-item">{{getTagName(i)}} <span class="selected-item-close" ng-click="deselectItem(i, $event)"></span></span>
      </span>
      <!--<input type="text" class="blend-in" />-->
    </div>
  </div>
  <div class="tree-view" ng-show="showTree">
    <ul>
      <tree-item class="top-level" ng-repeat="item in data" item="item" select-only-leafs="selectOnlyLeafs" use-can-select-item="useCanSelectItemCallback" can-select-item="canSelectItem" multi-select="multiSelect" item-selected="itemSelected(item)" on-active-item="onActiveItem(item)" load-child-items="loadChildItems" async="isAsync" item-has-children="hasChildren(parent)" async-child-cache="asyncChildCache" />
    </ul>
  </div>
</div>
