*
{
	font-size:11px;font-family:Verdana,sans-serif;
	resize: none;

}

body
{
	overflow:hidden;
	margin:0px;
	padding:0px 0px; 0px 15px;
}

/*override tree style */
.dtree 
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;	
	white-space: nowrap;	
}


#search-action
{
	font-size:12px;
	padding:3 3 3 3;
	*width:100%;
	display:block;
	height:40px;
}

#kbase_question
{
	height:40px;
	width:100%;
}

#kbase_includeoptions
{
	display:block;
	border-color:#D5D4DF;
	border-width:1px;
	border-style:solid;
	padding:2px;

	-moz-border-radius: 3px;
	border-radius: 3px;
	*width:100%;

	background-color:#FAFAFA;
}

#kbase_cattree
{
	display:block;
	border-color:#D5D4DF;
	border-width:1px;
	border-style:solid;
	padding:2px;
	margin-right:2px;

	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow:auto;
	*width:100%;

	background-color:#FAFAFA;
}

#search-fields
{
	overflow:auto;
	padding:3px 5px 3px 5px;
	height:100%;
	width:100%;
	font-size:12px;
}

#kbase_method
{
	width:100%;
}

#search-title-options
{
	font-size:12px;
	
	border-style:solid;
	border-width:1 0 1 0;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	width:100%;
	color:#3C3C3C;
	height:20px;

	/* 11.03.2011 - gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);


	padding-top:1px;	
	padding-left:2px;
}

label
{
	color:#696969;
	height:17px;
}

.lbl
{
	color:#696969;
}

#sp_browse
{
	font-weight:bold;
	cursor:pointer;
}

#sp_search
{
	font-weight:normal;
	cursor:pointer;
}



input[type=text]
{
	border:1px solid #afafaf;
	height:18px;
	color:#696969;
}


select
{
	height:18px;
	border:1px solid #afafaf;
	color:#696969;
}

button
{
	color:#3C3C3C;
}
