.htl-widget-header, .ui-widget-header
{
	color:#ffffff;
	background-color:#B8C792;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFC082', endColorstr='#667C46'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#AFC082), to(#667C46)); 
	background: -moz-linear-gradient(top,  #AFC082,  #667C46);
}
.swtheme-fontcolor, .ui-dialog-title
{
	color:#ffffff;
}