<div class="btn btn-default" type="button" uib-popover uib-popover-template="'app/directives/hb-iconpicker/hb-iconpicker.popover.html?rel=477'" popover-append-to-body="appendToBody" popover-placement="bottom-left" popover-trigger="click" popover-is-open="vm.isOpen">
    <i class="fa" ng-class="ngModel"></i> <i class="fa fa-caret-down"></i>
</div>
