<div class="container-fluid" ng-init="initDashboard()">
  <div class="row">
    <div class="col-md-12">
      <div class="hb-title">
        <div class="header-icon">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="header-title-container">
          <h2 class="title">
            <span>Home</span>
          </h2>
          <p class="subtitle">
			<span class="hidden-xs hidden-sm">This is your SelfService landing page. You can access your Services, Requests and the latest notifications plus access other features from here.</span>
			<span class="hidden-md hidden-lg">This is your SelfService landing page.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Dashboard navcards-->
  <div ng-repeat="row in shortcuts" class="row">
      <div class="col" ng-repeat="shortcut in row" ng-include="'templates/dashboard/shortcut.tpl.html'"></div>
    <!--<div ng-class="navCardClass">-->
      <!--<a ui-sref="services">-->
        <!--<div  class="panel panel-primary"-->
              <!--role="button">-->
          <!--<div class="panel-heading panel-heading-dashcard">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-3">-->
                <!--<div class="rotate">-->
                  <!--<i class="fa fa-cogs fa-4x"></i>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-xs-9 text-right">-->
                <!--<h3 class="h-dash-button">Services</h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel-footer">-->
            <!--<div class="pull-left">Request or view a Service</div>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div ng-class="navCardClass">-->
      <!--<a ui-sref="requests.myrequests">-->
        <!--<div  class="panel panel-primary"-->
              <!--role="button">-->
          <!--<div class="panel-heading panel-heading-dashcard">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-3">-->
                <!--<i class="fa fa-tasks fa-4x"></i>-->
              <!--</div>-->
              <!--<div class="col-xs-9 text-right">-->
                <!--<h3 class="h-dash-button">Requests</h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel-footer">-->
            <!--<div class="pull-left">View or update your requests</div>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div  ng-class="navCardClass"-->
          <!--ng-if="canRaiseRequest">-->
      <!--<a ng-click="raiseSupportRequest()">-->
        <!--<div  class="panel panel-primary"-->
              <!--role="button">-->
          <!--<div class="panel-heading panel-heading-dashcard">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-2">-->
                <!--<i class="fa fa-life-ring fa-4x"></i>-->
              <!--</div>-->
              <!--<div class="col-xs-10 text-right">-->
                <!--<h3 class="h-dash-button">Support Me</h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel-footer">-->
            <!--<div class="pull-left">Raise a new Support Request</div>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div ng-class="navCardClassBottomRow">-->
     <!--<a ui-sref="knowledge">-->
        <!--<div  class="panel panel-primary"-->
              <!--role="button">-->
          <!--<div class="panel-heading panel-heading-dashcard">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-3">-->
                <!--<i class="fa fa-binoculars fa-4x"></i>-->
              <!--</div>-->
              <!--<div class="col-xs-9 text-right">-->
                <!--<h3 class="h-dash-button">Knowledge</h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel-footer">-->
            <!--<div class="pull-left">Search for help</div>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
    <!--<div  ng-class="navCardClassBottomRow"-->
          <!--ng-if="sessServ.numAuths > 0 ">-->
      <!--<a ui-sref="requestsauth.myauths">-->
          <!--<div  class="panel panel-primary"-->
          <!--role="button">-->
          <!--<div class="panel-heading panel-heading-dashcard">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-2">-->
                <!--<i class="fa fa-check-square-o fa-4x"></i>-->
              <!--</div>-->
              <!--<div class="col-xs-10 text-right">-->
                <!--<h3 class="h-dash-button">Authorise <span class="badge">{{sessServ.numAuths}}</span></h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="panel-footer">-->
            <!--<div class="pull-left">View and Authorise Requests</div>-->
            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'templates/dashboard/affectedservices.gadget.tpl.html'"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'templates/dashboard/services.gadget.tpl.html'"></div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'templates/dashboard/requestnotif.gadget.tpl.html'"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'templates/dashboard/recent.requests.gadget.tpl.html'"></div>
        </div>
      </div>
    </div>
	
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'templates/dashboard/notifications.gadget.tpl.html'"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div ng-include="'templates/dashboard/information.gadget.tpl.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
