<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Our Tweets</strong>
  </div>
  <div class="panel-body">
    <div>
        <a class="twitter-timeline" data-chrome="nofooter noborders noheader noscrollbar" data-height="400" ng-href="{{twitterFeed}}"></a>
        <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
