.form-area
{

}


table
{

	display:inline;
}
/* label control */
label
{
	height:19px;
	font-family:Trebuchet MS;
	font-size:8pt;
}


/* input controls */

input, select
{
	height:19px;
	width:160px;

	font-family:Trebuchet MS;
	font-size:8pt;

	border:solid 1px #d3c9b6;
	border:solid 1px #c0c0c0;
}

.datebox
{
	height:19px;
	background-image:url(../img/forms/date-picker.gif);
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:18px;
}

.button
{
	font-family:Trebuchet MS;
	font-size:8pt;

}

.menubutton
{
	font-family:Trebuchet MS;
	font-size:8pt;
	background-color:transparent;
	border:solid 0px #c0c0c0;
}

.menubutton SPAN
{
	width:99%;
	font-family:Trebuchet MS;
	font-size:8pt;

	background-image:url(../img/forms/menu-button.gif);
	background-repeat:no-repeat;
	background-position:right center;
	cursor:default;
}

.mnubtn_div
{
	cursor:default;
	position:absolute;
	display:none;
	background-color:#efefef;
	border:solid 1px #c0c0c0;
}

.btnmenu_tdone
{
	background-color:#808080;
	width:16px;
}
.btnmenu_tdthree
{
	width:16px;
}


.mnubtn_div TD
{
	font-family:Trebuchet MS;
	font-size:8pt;
	padding:1px 3px 1px 3px;
}

.menubutton TD
{
	font-family:Trebuchet MS;
	font-size:8pt;

}

.mnubtn_span
{
	width:16px;
	height:16px;
	background-image:url(../img/forms/menu-button.gif);
	background-repeat:no-repeat;
	background-position:right center;
	cursor:default;
}

.picklist
{

}

.dbpicklist
{

}

.panel
{
	border:solid 1px #d3c9b6;
	background-color:#f2eedd;
	z-Index:-1;
}

.panel .paneltitle
{
	padding-top:1px;
	padding-left:2px;
	height:23px;

	background-color:#f1f1f1;
	color:#003366;
	
	font-family:Trebuchet MS;
	font-size:10pt;
	font-weight:bold;

	border-width:0px 0px 1px 0px;
	border-style:solid;	
	border-color:#d3c9b6;

}


/* form mainform, extform etc tab control */
.formtabcontrol
{
	border:solid 0px #c0c0c0;
	display:block;
	z-Index:-2;
}

.formtabcontrol .tabitem
{
	margin-right:4px;
	padding:2px 5px 2px 5px;
	
	border:solid 1px #c0c0c0;
	background-color:#ffffff;

	display:inline;
	position:relative;
	top:1px;
	height:18px;
	cursor:default;
	z-index:1;
}

.formtabcontrol .tabitem-selected
{
	margin-right:4px;
	padding:2px 5px 2px 5px;
	
	border-style:solid;
	border-width:1px;
	border-color:#E87F08 #c0c0c0 #ffffff #c0c0c0;
	background-color:#ffffff;

	display:inline;
	position:relative;
	top:1px;
	height:18px;

	cursor:default;
	z-index:1;

}

.formtabcontrol .tabspace
{
	border:solid 1px #c0c0c0;
	background-color:#ffffff;


	display:block;
	position:relative;

	width:100%;
	height:100%;
	overflow:none;
	z-index:0;

	cursor:default;
}

/* form element tab control */


.tabcontrol
{
	border:solid 0px #c0c0c0;
	display:inline;
}

.tabcontrol .tabitem
{
	margin-right:4px;
	padding:2px 5px 2px 5px;
	
	border:solid 1px #c0c0c0;
	background-color:#ffffff;

	display:inline;
	position:relative;
	top:1px;
	height:18px;
	z-index:1;
	cursor:default;
}

.tabcontrol .tabitem-selected
{
	margin-right:4px;
	padding:2px 5px 2px 5px;
	
	border-style:solid;
	border-width:1px;
	border-color:#E87F08 #c0c0c0 #ffffff #c0c0c0;
	background-color:#ffffff;

	display:inline;
	position:relative;
	top:1px;
	height:18px;
	z-index:1;
	cursor:default;
}

.tabcontrol .tabspace
{
	border:solid 1px #c0c0c0;
	background-color:#ffffff;

	display:block;
	position:relative;
	width:100%;
	height:100%;
	overflow:none;
	z-index:0;

	cursor:default;
}

/* sqllist */
.sqllist
{
	border:solid 1px #c0c0c0;
	background-color:#ffffff;
	overflow:auto;
	display:block;
}

.sqllist input
{
	height:15px;
	width:15px;

	font-family:Trebuchet MS;
	font-size:8pt;

	border:solid 0px #c0c0c0;

}

.sqllist .sqllist-header
{
	border-style:solid;
	border-width:0px 1px 1px 0px;
	border-color:#c0c0c0;

	background-color:#e1e1e1;

	padding:2px 2px 2px 2px;

	height:18px;
	font-family:Trebuchet MS;
	font-size:8pt;

}

.sqllist .sqllist-datacol
{
	border-style:solid;
	border-width:0px 1px 1px 0px;
	border-color:#c0c0c0;

	padding:2px 2px 2px 2px;

	height:18px;
	font-family:Trebuchet MS;
	font-size:8pt;
}