
body{

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 76%;
	color: #474747;
}

table{
	font-size: 100%;
}

.msgfeed{
	float:left;
}

.infopanel{
	float:right;
	width:320px;
	height:528px;
	border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #666;
    border-right: 1px solid #777;
	background-color:#DFEBFB;
	overflow: auto;
}

.infopaneltitlebar{
	width: 320px;
	height: 20px;
	background-image: url(../img/structure/titlebg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

.infopaneltitlebarname{
	width: 200px;
	height: 20px;
	float:left;
	text-align:left;
	padding: 2px 2px 0 4px;
	color:#ffffff;
}

.infopaneltitlebarclose{
	width: 50px;
	height: 20px;
	float:right;
	text-align:right;
	padding: 2px 2px 0 4px;
	color:#ffffff;
}

.infopanelavatar{
	float:left;
	border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
	width:94px;
}

.infopaneltopsummary{
	float:right;
	width: 220px;
	height: 101px;
	margin-left:2px;
}

.infopanelscreenname{
	float:right;
	height:20px;
	width:218px;
	font-size:14px;
}

.infopanelname{
	float:right;
	width:218px;
	height:20px;
	font-size:18px;
	color:#333333;
}

.infopanellocation{
	float:right;
	height:20px;
	width:218px;
}

.infopanelurl{
	float:right;
	height:20px;
	width:218px;
}

.infopanelisswcustomer{
	float:right;
	height:20px;
	width:218px;
}

.infopanelbio{
	float:left;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding-left:8px;
	padding-top:6px;
	padding-bottom:6px;
	width:312px;
}

.infopanelstats{
	padding-left:2px;
	padding-top:5px;
	padding-bottom:5px;
	width:312px;
}

.infopanelactionbtns{
	padding-left:0px;
	padding-top:1px;
	padding-bottom:1px;
	width:312px;
	float:left;
}

.infopanelstatstweets{
	margin-left:8px;
	padding-left:0px;
	padding-top:6px;
	padding-bottom:6px;
	width:70px;
	color:#333333;
	font-size:12px;
	float:left;
}

.infopanelstatsfollowers{
	margin-left:8px;
	padding-left:0px;
	padding-top:6px;
	padding-bottom:6px;
	width:70px;
	color:#333333;
	font-size:12px;
	float:left;
}

.infopanelstatsfollowing{
	
	padding-left:0px;
	padding-top:6px;
	padding-bottom:6px;
	width:70px;
	color:#333333;
	font-size:12px;
	float:left;
}

.infopanelstatsfollowbtn{
	margin-left:6px;
	padding-left:0px;
	padding-top:18px;
	padding-bottom:6px;
	width:70px;
	font-size:12px;
	float:left;
	height:25px;
}

.infopanelstatsfollowoptions{
	margin-left:10px;
	padding-top:6px;
	padding-bottom:6px;
	width:310px;
	float:left;
	display:none;
}

.infopanelpreviouscalls{
	float:left;
	padding-left:8px;
	padding-top:6px;
	padding-bottom:6px;
	width:312px;
}

.infopanelpreviouscallstitle{
	float:left;
	padding-left:8px;
	padding-top:6px;
	padding-bottom:6px;
	width:311px;
	background-color:#c0c0c0;
}

.convlist{
	width: 320px;
	background-color:#efeff7;
	border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #666;
    border-right: 1px solid #777;
}

.convavatar{
	width: 30px;
	float:left;
	text-align:left;
	padding: 2px 2px 2px 2px;
	color:#ffffff;
}

.convavatarimg{
	width: 30px;
}

.convtext{
	width: 280px;
	float:right;
	text-align:left;
	padding: 2px 2px 0 4px;
}

.messagelist{
	width: 423px;
	overflow: auto;
	height: 510px;
}

.messageloadmore{
	float:left;
	width: 395px;
	height: 40px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #c0c0c0;
	text-align:center;
}

.messagelisttitlebar{
	width: 423px;
	height: 20px;
	background-image: url(../img/structure/titlebg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

.messagelisttitlebarname{
	width: 300px;
	height: 20px;
	float:left;
	text-align:left;
	padding: 2px 2px 0 4px;
	color:#ffffff;
}

.messagelisttitlebaractions{
	width: 100px;
	height: 20px;
	float:right;
	text-align:right;
	padding: 2px 2px 0 4px;
}

.messageconv{
	width: 370px;
	height: 12px;
	text-align:left;
	padding: 2px 2px 0 2px;
	display:none;
}



a.messagelist{
	color:#555555;
	font-weight:bold;
}

.boxshadow #messagelist {
   border: none;
   box-shadow: #666 1px 1px 1px;
   -moz-box-shadow: #666 1px 1px 1px;
   -webkit-box-shadow: #666 1px 1px 1px;
}


.avatar {
	float:left;
	width:48px;
}

.messagewrap{
	width: 400px;
	border-top: 5px solid #ffffff;
}

.message{
	float:right;
	width: 340px;
	border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #666;
    border-right: 1px solid #777;
	padding: 5px 5px 5px 5px;
	background-color:#c0c0c0;
}

.messageheader{
	float:right;
	text-align: left;
	width: 330px;
	padding: 5px 5px 5px 5px;
}

.messagetext{
	float:right;
	width: 332px;
	padding: 5px 5px 0px 5px;
}

.messagefooter{
	float:right;
	text-align: right;
	width: 332px;
	padding: 5px 5px 5px 5px;
}

.messageauthor{
	float:left;
	text-align:left;
}

.messagelinks{
	float:right;
	text-align:right;
}

.messagetime{
	padding: 5px 5px 5px 5px;
}

.msgmenu{
	width:156px;
	float:left;
	height:528px;
	border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #666;
    border-right: 1px solid #777;
}

.msgmenulink{
	text-decoration:none;
	color:#474747;
	border-top: 5px
}

.msgspacerbtm{
	float:left;
	width:400px;
	height:2px;
}

li.listmenuheading{
	list-style-type:none;
	margin-top:7px;
	padding: 4px 0px 4px 0px;
	background-color:#c0c0c0;

}

li.listmenuitem{
	list-style-type:none;
	padding: 4px 2px 0px 0px;
	vertical-align:middle;
}



.borderradius #avatar {
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.searchoperators {
	padding: 4px 0px 4px 88px;
}

.searchschedule {
	padding: 4px 0px 0px 88px;
}

.searchsave {
	padding: 0px 45px 4px 305px;
	text-align:right;
}

.searchshare {
	padding: 0px 0px 4px 85px;
}

.assocanalysts {
	width: 350px;
	height: 400px;
	border-left: 1px solid #c0c0c0;
}

.swgroups {
	width: 350px;
	height: 400px;
}

