<div class="row row-top-buffer">
  <div class="col-xs-12">
    <div  class="alert alert-danger">
      <strong>Warning!</strong> You do not have permission to view this page.
    </div>
  </div>
</div>
