<div class="row row-top-buffer">
  <div class="col-xs-12">
    <div  class="alert alert-danger">
      <strong>Warning!</strong> Your Supportworks session is either invalid or expired.
    </div>
  </div>
</div>
