<div tabindex="0" class="row" deep-blur="treeSelector.blur()" ng-keydown="treeSelector.keyPress($event)">
    <div class="col-xs-12">
        <div tabindex="0" ng-click="treeSelector.focusedCount = 2 + treeSelector.focusedCount"
             ng-focus="treeSelector.focus()"
             class="{{treeSelector.className}}"
             style="{{treeSelector.style}}">
            <span ng-click="treeSelector.expand()"
                  role="button" class="pull-right fa fa-lg fa-fw"
                  ng-class="{'fa-plus': !treeSelector.focused, 'fa-minus': treeSelector.focused}"></span>
            <bti-bread-crumbs
                    ng-model="treeSelector.model"
                    show-top="treeSelector.focused"
                    navigate="treeSelector.navigate"
                    current-level="treeSelector.currentLevel"></bti-bread-crumbs>
        </div>
    </div>
    <div tabindex="0" ng-class="{'expand' : treeSelector.expanding}" class="col-xs-12 tree-select-container"
         ng-show="treeSelector.focused">
        <div tabindex="0" class="tree-select">
            <div tabindex="0" role="button"
                 ng-mouseover="treeSelector.hover(option.id)" ng-mouseleave="treeSelector.hoverOut()"
                 ng-repeat="option in treeSelector.options"
                 ng-class="{focused: treeSelector.category === option.id}"
                 ng-click="treeSelector.select(option, $event)"
            >
                {{option.name}}
            </div>
        </div>
    </div>
    <div class="col-xs-12" ng-if="treeSelector.model.$error.completeselect">
        <div class="alert alert-warning">
            Please select an option from the lowest available level
        </div>
    </div>
</div>