body
		{
			padding:10px;
			margin:0px;
			min-width: 500px;  		/* MOST BROWSERS (Not IE6) */
			width:auto;

			font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-size:12px;
			
		}

		.header
		{
			color:gray;
		}

		.title
		{
			font-weight:bold;
			font-size:14px;
		}

		.sectionline
		{
			border-top:2px solid #9EBEF5;
		}

		.sectiontitle
		{
			padding:5px; 5px 5px 5px;
			letter-spacing:2px;
			color:#07679A;
			background-color:#9EBEF5;			
			width:200px;
		}


		.sectiontitle-lo
		{
			padding:5px; 5px 5px 5px;
			letter-spacing:2px;
			color:gray;
			background-color:#efefef;			
			width:200px;
		}

		.sectiontitle-hi
		{
			padding:5px; 5px 5px 5px;
			letter-spacing:2px;
			color:gray;
			background-color:#FFC663;			
			width:200px;
		}
		.sectiondata
		{
			
			margin-left:200px;
			font-size:12px;
			color:gray;
		}

		.keywords
		{
			margin-left:200px;
			color:gray;
		}

		.feedback
		{
			padding:10px;
			margin-left:200px;
			width:auto;
			
			background-color:#F8F8F8;
			border:1px solid #CCCCCC;

		}

		.feedback-title
		{
			font-weight:bold;
		
		}

		.feedback-question
		{
			font-weight:bold;
			font-size:10px;
		}
		.feedback-answer
		{
		
			font-size:10px;
		}


		/* styles for users to use in kbdocument text */
		.indent
		{
			margin-left:20px;
		}