*
{
		font-size:11px;font-family:Verdana,sans-serif;
}

body
{
	overflow:hidden;
	margin:0 0 0 0;
	padding:0 0 0 0;
}


.div-title-top
{
	border-width:0px 0px 1px 0px ;
	border-style:solid solid solid solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	padding:3px;
	width:100%;
	font-size:12px;
	background-color:#efefef;
}

#div_folders
{
	padding:5 5 15 5;
	width:300px;
	height:200px;
	overflow:auto;
}

