html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #FFF;
    -webkit-font-smoothing: antialiased;
    font-family: lucida grande, tahoma, verdana, arial, sans-serif !important;
}

.main-content {
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 73px;
    bottom: 1px;
    width: 100%;
    z-index: 11;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.main-spacer {
    height: 1px;
}

.login-page {
    height: 100vh;
    width: 100%;
}

.login-page .login-title {
    margin: 75px 0 0 0;
}

.login-page .login-subtitle {
    padding: 20px 0 20px 0;
}

.login-page .login-subtitle p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #333;
}

.login-page h1 {
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #333;
    margin: 0;
    line-height: normal;
}

.login-page label {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #333;
}

.login-page .login-form {
    padding: 15px 20px 20px 20px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: left;
}

.login-footer-socmed {
    padding: 10px 5px;
}

/* Input Inner Icon */
.left-inner-icon {
    position: relative;
}

.left-inner-icon input {
    padding-left: 30px;
}

.left-inner-icon i {
    opacity: 0.7;
    position: absolute;
    padding: 11px 10px 10px 10px;
    pointer-events: none;
}

.left-inner-icon .error-msg {
    color: white;
    text-shadow: 1px 1px 1px #333;
}

.right-inner-icon {
    position: relative;
}

.right-inner-icon input {
    padding-right: 30px;
}

.right-inner-icon i {
    position: absolute;
    right: 15px;
    padding: 10px 12px;
    pointer-events: none;
}

.input-button[readonly] {
    background-color: #fff;
}

/* END Input Inner Icon */

.hb-title {
    padding: 10px 9px 25px 9px;
    box-sizing: initial;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    margin: 0;
}

.hb-title .header-icon {
    float: left;
    font-size: 14px;
}

.hb-title .header-title-container {
    vertical-align: middle;
    line-height: 45px;
    height: 45px;
    margin-left: 60px;
    white-space: nowrap;
}

.hb-title .title {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 40px;
    min-height: 0;
    margin-top: -2px;
    margin-bottom: -4px;
}

.hb-title .subtitle {
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    min-height: 0;
    font-size: 12px;
}

.td-overflow td {
    text-overflow: ellipsis;
}

/*----- Navbar Styling ----- */
.navbar {
    background-color: white;
}

.navbar-brand,
.navbar-nav li a {
    margin-top: -2px;
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.navbar-brand a img {
    max-height: 40px;
}

.navbar-toggle {
    margin-top: 20px;
}

.nav-tabs.nav-justified {
    padding-bottom: 7px;
}

.btn-group {
    display: flex;
}

.btn-group .request-details {
    padding-top: 30px;
}

.btn-sm-accordion {
    margin-top: -7px;
}

.btn-sm-panel-heading {
    margin-top: -7px;
}

/*----- PANEL STYLING -----*/

/*.panel-default .panel-heading {
  padding: 5px 10px;
}
.panel-default .panel-heading .panel-title {
  font-size: 14px;
}*/

.panel-heading-pager {
    margin: -6px 0px;
}

.panel-heading-input {
    padding: 4px 15px;
}

.panel-title-input {
    margin-top: 6px;
}

.panel-shadow-default {
    box-shadow: 0 0 15px black;
}

.panel-shadow-danger {
    box-shadow: 0 0 15px #d43f3a;
}

.panel-shadow-success {
    box-shadow: 0 0 15px #4cae4c;
}

.panel-shadow-primary {
    box-shadow: 0 0 15px #2e6da4;
}

.fixed-panel {
    min-height: 50px;
    max-height: 100px;
    overflow-y: auto;
}

.list-group-item i {
    opacity: 1;
}

.list-group-item {
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 13px;
}

.list-group-item strong {
    font-size: 14px;
}

a.list-group-item {
    cursor: pointer;
}

a.list-group-item:hover, a.list-group-item:active, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    margin-left: 0px;
    padding-left: 10px;
}

ul.request-details li:hover {
    background-color: #f5f5f5 !important;
    cursor: pointer;
}

.well {
    margin-bottom: 5px;
}

textarea {
    resize: none;
    word-wrap: break-word;
    transition: 0.05s;
    -moz-transition: 0.05s;
    -webkit-transition: 0.05s;
    -o-transition: 0.05s;
}

@media screen and (max-width: 768px) {

    .login-page .login-title {
        margin-top: 15px;
    }

    .login-page .login-title h1 {
        font-size: 28px;
    }

    .login-page .login-subtitle {
        padding: 10px 0 5px 0;
    }

    .login-page .login-subtitle p {
        font-size: 14px;
    }

    [class*='col-xs'] {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .nav-tabs > li {
        float: none;
        /*border: 1px solid #dddddd;*/
    }

    .nav-tabs > li.active {
        background: #eeeeee;
    }

    .nav-tabs > li.active > a {
        border: 1px solid transparent;
    }

    .nav > li > a:hover, .nav > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: none;
        border: 1px solid transparent;
    }
}

@media screen and (min-width: 768px) {

    [class*='col-sm'] {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .left-inner-icon input {
        padding-left: 12px;
    }

    .modal-lg {
        width: 95%;
    }
}

.dash-gadget .pagination {
    margin: -3px 0px 7px 0px;
}

.request-filters .pagination {
    margin: 5px 0px -1px 0px;
    display: flex;
    border-color: #FFF;
}

.request-filters .pagination .active a {
    /*border-color: #FFF;*/
}

.vertical-align {
    align-items: center;
}

.header-icon .fa-circle {
    color: #337ab7;
}

.call-status-active {
    color: darkgreen;
}

.call-status-onhold {
    color: darkorange;
}

.call-status-resolved {
    color: darkred;
}

.call-icon-incident {
    color: darkorange;
}

.call-icon-srequest {
    color: green;
}

.call-icon-crequest {
    color: purple;
}

.request-details .diary-entry {
    margin-top: 10px;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    padding: 5px;
    position: relative;
    display: flex;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

/*--- Spinner Styles ---*/
#swspin {
    -webkit-animation: rotation 1500ms infinite linear;
    -moz-animation: rotation 1500ms infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

.swspinner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 0px 100px 0px;
}

.swspinner p {
    margin: 15px 0px 20px -2px;
    font-weight: bold;
}

.swspinner img {
    max-height: 50px;
}

/*--- End Of Spinner Styles ---*/

/*--- New File Attachment CSS --*/
.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fg-bottom-row {
    margin-bottom: 0px;
}

/* ng-show fader */
/*http://stackoverflow.com/questions/22814378/ng-animate-not-working-for-a-hide-and-show-setting*/
.fadein,
.fadeout {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

#GadgetSearch {
    float: right;
    width: 50%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.hierarchical-control .hierarchical-input span.selected-items .selected-item {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.hierarchical-control .tree-view .selected {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.hierarchical-control .tree-view .selected.active {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.hierarchical-control .hierarchical-input span.selected-items .selected-item-close:hover {
    background-color: #d43f3a;
}

.panel .panel-heading-dashcard .fa-4x {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -moz-transition: -moz-transform .8s ease-in-out;
    -o-transition: -o-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.panel:hover .panel-heading-dashcard .fa-4x {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.panel .panel-heading-dashcard .h-dash-button {
    line-height: 32px;
    font-size: 22px;
    -webkit-transition: font-size .3s ease;
    -moz-transition: font-size .3s ease-in-out;
    -o-transition: font-size .3s ease-in-out;
    transition: font-size .3s ease-in-out;
}

.panel:hover .panel-heading-dashcard .h-dash-button {
    font-size: 25px;
}

.panel-heading-dashcard {
    padding: 10px 15px 5px 15px;
}

/*TIMELINE CSS SCREEN WIDTH CHANGES*/
/*Overriding angular-timeline.css*/
@media only screen and (min-width: 992px) {
    timeline-panel {
        width: calc(50% - 45px);
        width: -moz-calc(50% - 45px);
        width: -webkit-calc(50% - 45px);
    }
}

@media only screen and (max-width: 3000px) {
    .timeline:before {
        left: 40px;
    }

    timeline-panel {
        width: calc(100% - 85px);
        width: -moz-calc(100% - 85px);
        width: -webkit-calc(100% - 85px);
    }

    timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 36px;
    }

    timeline-panel {
        float: right;
    }

    timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
        top: 46px;
    }

    timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
        top: 47px;
    }
}

/*TIMELINE CSS SCREEN WIDTH CHANGES*/
/*FROM angular-timeline-bootstrap.css*/
ul.timeline .timeline-badge .fa {
    top: 0px;
}

ul.timeline li .timeline-panel {
    width: 100%;
}

/*15 column layout for Bootstrap - allows for 5 navcards on dashboard
  15 = 3 cols in layout*/
.col-xs-5er,
.col-sm-5er,
.col-md-5er,
.col-lg-5er {
    position: relative;
    min-height: 1px;
}

.col-xs-5er {
    width: 20%;
    float: left;
}

@media (max-width: 767px) {
    .panel .panel-heading-dashcard .h-dash-button {
        font-size: 28px;
    }

    .panel:hover .panel-heading-dashcard .h-dash-button {
        font-size: 29px;
    }
}

@media (min-width: 768px) {
    .col-sm-5er {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5er {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5er {
        width: 20%;
        float: left;
    }

    .panel .panel-heading-dashcard .h-dash-button {
        font-size: 19px;
    }

    .panel:hover .panel-heading-dashcard .h-dash-button {
        font-size: 20px;
    }
}

/*End Of Nav Cards 5 col layout*/

.dl-keep-nl {
    white-space: pre-wrap;
}

#toast-container > div {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}

.hover-btn {
    position: absolute;
    right: 15px;
    display: block;
}

.modal-body .modal-tabs {
    font-size: 12px;
}

.modal-body .table {
    font-size: 12px;
}

.modal-body .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.navbar-input-group {
    margin-top: 10px;
}

.table.vertical-align > tbody > tr > td {
    vertical-align: middle;
}

.service-category-img {
    margin: 0 auto;
    padding: 0;
    border-radius: 50%;
    width: 180px
}

.service-category-anchor {
    display: block;
    padding: 1em;
    color: #122b40;
}

.service-category-anchor.active {
    background-color: rgb(40, 94, 140);
    color: #fbfbfb;
}

.button {
    cursor: pointer;
}

span {
    display: block;
}

.accordion-toggle:focus {
    outline: none;
}

.tree-select-container {
    max-height: 0;
    height: 100%;
    overflow: hidden;
    transition: max-height ease-in-out .15s;
    -webkit-transition: max-height ease-in-out .15s;
    -o-transition: max-height ease-in-out .15s;
}

.tree-select-container.expand {
    max-height: 9999px;
}

.tree-select {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input.tree-select:focus {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: none;
    border-top: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tree-select * {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}

.tree-select .focused {
    background: #337AB7;
    color: #fff;
}

.tree-select .row {
    margin-left: -10px;
    margin-right: -10px;
}

.breadcrumb {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-width: 0;
    max-width: 100%;
}

.breadcrumb .icon {
    font-size: 14px;
}

.breadcrumb li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    flex: 0 20 auto;

}

.breadcrumb li:last-child {
    flex: 0 1 auto;
}

.breadcrumb li a {
    color: #FFF;
    background: #3498db;
    text-decoration: none;
    position: relative;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 2px;
    align-self: center;
    align-items: center;
    min-width: 0;
    white-space: nowrap;
}

.breadcrumb li a * {
    align-items: center;
}

.breadcrumb li:nth-child(even) a {
    background-color: #2980b9;
}

.breadcrumb li:nth-child(even) a:before {
    border-color: #2980b9;
    border-left-color: transparent;
}

.breadcrumb li:nth-child(even) a:after {
    border-left-color: #2980b9;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}

.breadcrumb li:first-child a:before {
    border: none;
}

.breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}

.breadcrumb li:last-child a:after {
    border: none;
}

.breadcrumb li a:before, .breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 10px 10px;
    width: 0;
    height: 0;
}

.breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}

.breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}

.breadcrumb li a:hover {
    background-color: #1abc9c;
}

.breadcrumb li a:hover:before {
    border-color: #1abc9c;
    border-left-color: transparent;
}

.breadcrumb li a:hover:after {
    border-left-color: #1abc9c;
}

.breadcrumb li a:active {
    background-color: #16a085;
}

.breadcrumb li a:active:before {
    border-color: #16a085;
    border-left-color: transparent;
}

.breadcrumb li a:active:after {
    border-left-color: #16a085;
}

.navbar-default span {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.form-control-height {
    height: 34px;
}

.angucomplete-dropdown {
    width: 100% !important;
}

.angucomplete-row {
    width: 100% !important;
}

.angucomplete-title {
    width: 100% !important;
}

span.lookup-match {
    display: inline;
    font-weight: bold;
}