<STYLE type="text/css">
<!--

OL { 
	color: #336699; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px;
	}
body{
	scrollbar-arrow-color: #92c3f3;
	scrollbar-3dlight-color: #c5e6f6;
	scrollbar-highlight-color: #6699CC;
	scrollbar-face-color: #336699;
	scrollbar-shadow-color: #003366;
	scrollbar-track-color: #e3effb;
	scrollbar-darkshadow-color: #336699; 
	margin:0px;	
	}
.textboxstyle	{
		color: #003366;
		padding-left:4px;
		border-left-style: solid;
		border-left-color: #aaaaaa;
		border-left-width: 1;
		border-right-style: solid;
		border-right-color: #aaaaaa;
		border-right-width: 1;
		border-top-style: solid;
		border-top-color: #aaaaaa;
		border-top-width: 1;
		border-bottom-style: solid;
		border-bottom-width: 1;
		border-bottom-color: #aaaaaa;
		font-family: Trebuchet MS, Arial, Tahoma, Helvetica, Verdana, Sans-Serif;
		font-size: 8pt;
		font-weight: normal;
		}
UL { color: #336699; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px;
	}
LI { color: #336699; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px;
	}
TD { color: #336699; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px;
	}
.header1{font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11;
	color: #003366;
	font-weight: bold;
	}
.header2{font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14;
	color: #003366;
	font-weight: bold;
	}
.data {color: #003366; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px; 
	font-weight:normal; 
	text-decoration: none;
	}
a:link {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: none;
	}
a:visited {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: none;
	}
a:hover {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: underline;
	}
a:active {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: none;
	}

-->
</STYLE>
