<div class="backstretch" backstretch backstretch-images="images" backstretch-duration="5000" backstretch-fade="1">
	<div class="container-fluid login-page">
			<div class="row">
				<div class="col-md-12">
					<div class="login-title">
						<h1 class="text-center">{{brandTextTitle}}</h1>
					</div>
					<div class="login-subtitle">
						<p class="text-center">Reset password</p>
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						<div class="login-form">
							<form role="form"
							ng-submit="resetPassword(updateForm.$valid)"
							name="loginForm"
							novalidate
							autocomplete="off">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label for="username" class="hidden-xs">
											<span class="fa fa-user fa-fw"></span> Username
										</label>
										<div class="left-inner-icon">
											<i class="fa fa-user fa-fw fa-lg visible-xs"></i>
											<input 	type="text"
											class="form-control"
											ng-model="username"
											name="username"
											id="reset-user"
											placeholder="Username"
											required="required"
											required-err-type="loginUsernameRequired"
											focus-element>
										</div>
									</div>
									<div class="form-group">
										<label for="password" class="hidden-xs">
											<span class="fa fa-key fa-fw"></span> New Password
										</label>
										<div class="left-inner-icon">
											<i class="fa fa-key fa-fw fa-lg visible-xs"></i>
											<input 	type="password" ng-model="password"
											class="form-control"
											name="password"
											id="reset-password"
											required="required"
											required-err-type="wizardText"
											placeholder="Password">
											<span class="help-block has-error error-msg">{{Msgerror}}</span>
										</div>
									</div>

									<div class="form-group">
										<label for="confirmpassword" class="hidden-xs">
											<span class="fa fa-key fa-fw"></span> Confirm New Password
										</label>
										<div class="left-inner-icon">
											<i class="fa fa-key fa-fw fa-lg visible-xs"></i>
											<input 	type="password" ng-model="confirmpassword"
											class="form-control"
											name="confirmpassword"
											id="confirmpassword"
											required="required"
											required-err-type="wizardText"
											placeholder="Password Confirmation">
											<span class="help-block has-error error-msg">{{Msgerror}}</span>
										</div>
									</div>
									<div class="form-group">
										<button type="submit"
										class="btn btn-success pull-right"
										ng-click="requestPassword()"
										ng-disabled="loginForm.$invalid">
										<span class="fa fa-sign-in"></span> Reset Password
									</button>
								</div>


								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
