/*kbase css */

		body
		{
			padding:10px;
			margin:0px;
			min-width: 500px;  		/* MOST BROWSERS (Not IE6) */
			width:auto;

			font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-size:12px;
			
		}

		.header
		{
			color:gray;
		}

		.title
		{
			font-weight:bold;
			font-size:14px;
		}

		.sectionline
		{
			border-top:2px solid #B2B7C2;
		}

		.sectiontitle
		{
			padding:5px; 5px 5px 5px;
			letter-spacing:2px;
			color:#FFFFFF;
			font-weight: bold;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2B7C2', endColorstr='#B2B7C2'); 
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B2B7C2), color-stop(1, #B2B7C2));
			background: -ms-linear-gradient(top , #B2B7C2 0%, #B2B7C2 100%);		
			width:200px;
		}

		.sectiontitle-lo
		{
			padding:5px; 5px 5px 5px;
			letter-spacing:2px;
			color:gray;
			background-color:#efefef;			
			width:200px;
		}

		.sectiontitle-hi
		{
			padding:5px; 5px 5px 5px;
			letter-spacing:2px;
			color:gray;
			background-color:#FFC663;			
			width:200px;
		}
		.sectiondata
		{
			
			margin-left:200px;
			font-size:12px;
			color:gray;
		}

		.keywords
		{
			margin-left:200px;
			color:gray;
		}

		.feedback
		{
			padding:10px;
			margin-left:200px;
			width:auto;
			
			background-color:#F8F8F8;
			border:1px solid #CCCCCC;

		}

		.feedback-title
		{
			font-weight:bold;
		
		}

		.feedback-question
		{
			font-weight:bold;
			font-size:10px;
		}
		.feedback-answer
		{
		
			font-size:10px;
		}

		/* styles for users to use in kbdocument text */
		.indent
		{
			margin-left:20px;
		}