<ul class="breadcrumb">
    <li ng-if="$index ? true : showTop" ng-repeat="crumb in crumbs">
        <a ng-click="navigate(crumb)" tabindex="0" role="button"
           ng-class="{only: crumbs.length === 1}">{{crumb.display}}</a>
    </li>
</ul>