*{font-size:12px;font-family:Verdana,sans-serif;color:#696969;}

.scrollable
{
	overflow:auto;
}

.topRight
{
	position:absolute;
	top:5px;
	right:5px;
	display:inline;
}

#standaloneToolbar
{
	display:block;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:30px;
	border-bottom:1px solid #c5c5c5;
	background-color:#f5f5f5;
}
.toolbarGap
{
	display:block;
	height:30px;
}



.column {  float: left;  padding-bottom:50px;}  
.c3{width:33%;}
.c2{width:50%;}
.c1{width:100%;}
.ui-sortable-placeholder { border:1px dotted black; border-color:#808080; visibility: visible !important; height: 50px !important; }  
.ui-sortable-placeholder * { visibility: hidden; }  

.portlet { margin: 0 1em 1em 0;	border-color:transparent;overflow:hidden;}  
.portlet-header
{
	height:18px;
	margin: 3px; 
	margin-bottom:0px;
	padding-top:4px;
	padding-bottom: 1px; 
	padding-left: 0.2em; 

	font-weight:normal;
	font-size:11px;

	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	color: #808080;
	overflow:hidden;
	cursor:pointer;
}

.portlet-content
{
	padding: 0.4em;
	font-weight:normal;
	font-size:12px;

	border-width:0px 1px 1px 1px;
	border-style:solid;
	border-color:transparent #D5D4DF #D5D4DF #D5D4DF;
	margin: 3px; 
	margin-top:0px;
}

.widget-list
{
}

.widget-list-item
{
	color:#696969;
}

.widget-list-item input[type=checkbox]
{
	margin-bottom:3px;
	margin-right:5px;
	position:relative;
	top:2px;
	cursor:pointer;
}

.widget-list-item label
{
	cursor:pointer;
}


.c-pointer
{
	cursor:pointer;
}


.tbl-h td
{
	font-weight:bold;
	font-size:10px;
}	

.ta-l
{
	text-align:left;
}

.ta-r
{
	text-align:right;
}

.tr-odd
{
	background-color:#efefef;
}
.tr-even
{
	background-color:white;
}


.f16
{
	font-size:16px
}

.f28
{
	font-size:28px
}

.f20
{
	font-size:20px
}

.f40
{
	font-size:40px
}

.f60
{
	font-size:60px
}



.f18
{
	font-size:18px
}

.f12
{
	font-size:12px
}

.f11
{
	font-size:11px
}

.f10
{
	font-size:10px
}

.f8
{
	font-size:9px;
}

.grey
{
	color:gray;
}
.lightgray
{
	color:#CFD3DC;
}

.bold
{
	font-weight:bold;
}

.black
{
	color:#000000;
}

.btn-drill-down
{
	display:none;
	float:right;
	top:-2px;
	height:18px;
	width:18px;
	margin-right:3px;
}

.btn-csv-download
{
	display:none;
	float:right;
	top:-2px;
	height:18px;
	width:18px;
	margin-right:3px;
}


		.anchor-drill-down
		{
			font-size:11px;
			color:#358AB5;
		}
		.anchor-drill-down:visited
		{
			color:#358AB5;
		}
		.anchor-drill-down:hover
		{
			color:#358AB5;
		}
		.anchor-drill-down:active
		{
			color:#358AB5;
		}
		.anchor-drill-down:link
		{
			color:#358AB5;
		}
