h1{
	font-size:200%;
	color:#00AEEF;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
}

h2{
	font-size:160%;
	color:#00AEEF;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
}

h3{
	font-size:150%;
	color:#00AEEF;
	font-weight:bold;
	margin-top:0px;
}
h4{
	font-size:130%;
	color:#00AEEF;
	font-weight:bold;
	margin-top:0px;
}
h5{
	font-size:120%;
	color:#00AEEF;
	font-weight:bold;
	margin-top:0px;
}
h6{
	font-size:100%;
	font-weight:bold;
	margin-top:0px;
}

#contentColumn h1{
	
	background-image: url(../img/structure/dotted_underline.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
	padding-bottom:5px;
	margin-right:50px;
}



#contentColumn .boxWrapper h1{
	background-image: none;
}

#contentColumn p{
	line-height:1.5em;
	margin:6px 0 11px 0;
}


#contentColumn .actionText{
	font-size:140%;
	color:#328A0B;
	font-weight:bold;
}
#contentColumn .actionText a,#contentColumn .actionText a:visited{
	color:#328A0B;
	
}
#contentColumn .actionText a:hover{
	color:#66CB39;
	
}

.steps{
	font-size:250%;
}

.stepOn{
	/*border:		1px solid red;*/
	padding-top:5px;
	background-image: url(../img/structure/step_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0px -1px;
}

.stepToDo{
	color: #CCCCCC;
}
.stepDone{
	color: #8CDAF7;
}


form{
	margin:0px;
}
input, select, textarea{
	color: #474747;
	border: 1px solid #557693;
	font-size: 100%;
}

.checkboxStyle{
	border:0px;
}

.button{
	font-size: 200%;
	background-color:transparent;
	border: 0px;
	text-decoration:underline;
	color: #328A0B;
	cursor:hand;

}

.buttonNext{
	font-size: 140%;
	background-color:transparent;
	border: 0px;
	text-decoration:underline;
	color: #328A0B;
	cursor:hand;
	

}

.buttonPrevious{
	font-size: 140%;
	background-color:transparent;
	border: 0px;
	text-decoration:underline;
	color: #C18A07;
	cursor:hand;
	margin-left:-23px;
}

