

	

/* Tabs classes */

.tabs {
	float: left;
	width: 100%;
	line-height: normal;
	background-image: url(../img/icons/tabs_bg.gif);
}

.tabs ul {
	margin: 0;
	padding: 0px 0px 0;
	list-style: none;
}

.tabs li {
	float: left;
	background: url(../img/icons/tab_bg.gif) no-repeat left top;
	margin: 0;
	margin-left: 0px;
	margin-right: 2px;
	padding: 0 0 0 10px;
	line-height: 23px;
}

.tabs li.current {
	background: url(../img/icons/tab_sel_bg.gif) no-repeat left top;
	margin-right: 2px;
}

.tabs span {
	float: left;
	display: block;
	background: url(../img/icons/tab_end.gif) no-repeat right top;
	padding: 0px 10px 0px 0px;
}

.tabs .current span {
	background: url(../img/icons/tab_sel_end.gif) no-repeat right top;
}

.tabs a {
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 10px;
}

.tabs a:link, .tabs a:visited, .tabs a:hover {
	color: black;
}

.tabs a:hover {
	
}

.tabs .current {
}

.tabs .current a, .tabs .current a:link, .tabs .current a:visited {
}



.panel_wrapper {
	border: 1px solid #B8B7B7;
	border-top: 0px;
	padding:1em;
	background-color: white;
}

/* MSIE Specific styles */

* html .panel_wrapper {
	width: auto;

}

.tab_wrapper{
height: 22px;

}