
body{
	margin: 0px;
	padding:0 0 0 0;
	background-image: url(../../img/structure/swt_bg_tr.gif);
	background-repeat: no-repeat;
	background-position: top right;
	min-width: 500px;  /*FAILS IN IE 6! */
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #474747;
}
#pageArea{ /* main column */
	background-image: none;

}

#contentColumn{
	margin-top: 	20px;
	margin-left:	20px;
	margin-right:	20px;
	/*border:		1px solid red;*/
	
	voice-family: "\"}\"";
		voice-family: inherit;
   		margin-left: 20px;
		 
   		
		}
	html>body #contentColumn {
   		margin-left: 20px;
   		
		}
		
		

/* ******** WIDTH AND HEIGHT SETTINGS ********************************************* */
body{
	/* Setting the minumum width of the page 
		995 pixels will fit into a 1024 web browser window */
	min-width: 800px;  		/* MOST BROWSERS (Not IE6) */
	width: expression(document.documentElement.clientWidth < 800 ? "800px" : document.documentElement.clientWidth); /* IE6 */
}
#contentColumn{
	width:			800px; /* Comment this line out to have the body of the page expand and contract 
							  This width must be at least: the minumum width of the page minus the width of #navColumn minus 45 
							  eg. 995 - 200 - 50 = 750 
							  Otherwise the page will not display correctly in IE6 */
	/* minimum height settings */
	min-height:800px;			/* MOST BROWSERS (Not IE6) */
	height: expression(800); 	/* IE6 */
}
/* ******** WIDTH AND HEIGHT SETTINGS ********************************************* */

#actionsColumn{
	background-color:transparent;
}