/* 
Version:		1.1 (tables)
Date:			22 May 2007
Author:		Steve Attewell - steve.attewell@noko.co.uk
Function:	To provide structure for SupportWorks Today
 */

body{
	margin: 0px;
	padding:0 0px 0 0;
	/*background-color: #F7FBFF;*/
	background-color: #F9FCFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #333333;
}

/* ******** WIDTH AND HEIGHT SETTINGS ********************************************* */
body{
	/* Setting the minumum width of the page 
		995 pixels will fit into a 1024 web browser window */
	min-width: 995px;  		/* MOST BROWSERS (Not IE6) */
	width: expression(document.documentElement.clientWidth < 995 ? "995px" : document.documentElement.clientWidth); /* IE6 */
}
#contentColumn{
	width:			750px; /* Comment this line out to have the body of the page expand and contract 
							  This width must be at least: the minumum width of the page minus the width of #navColumn minus 45 
							  eg. 995 - 200 - 50 = 750 
							  Otherwise the page will not display correctly in IE6 */
	/* minimum height settings */
	min-height:500px;			/* MOST BROWSERS (Not IE6) */
	eight: expression(500); 	/* IE6 */
}
/* ******** WIDTH AND HEIGHT SETTINGS ********************************************* */



img{
	border: 0;
}

a, a:visited{
	color: #426B8D;
}

a:hover{
	text-decoration:none;
	color: #426B8D;
}

#wrapper{
	background-color:transarent;
	float:left;
	width:99%;	
	/*border-right:1px solid blue; 
	 margin-right:-240px;*/ /* The width and color of the 'actionsColumn' */
	display:inline; /* IE Fix*/
}

#pageArea{ /* main column */
	background-image: url(../img/structure/page_bg.gif);
	background-repeat: repeat-y;
	background-position: top left;
}

#topBanner{
		background-image: url(../img/header/bg-blue.gif);
		background-repeat: no-repeat;
		background-position: top right;
		height:75px;
		voice-family: "\"}\"";
		voice-family: inherit;
		}


#topBannerGrey{
		background-image: url(../img/header/bg-grey.gif);
		background-repeat: no-repeat;
		background-position: top right;
		height:75px;
		voice-family: "\"}\"";
		voice-family: inherit;
		}

#topBanner h1, #topBannerGrey h1{
	margin-left:70px;
	font-size:160%;
}

#navColumn{ /* main column */
	margin-top:0px;
	margin-bottom:20px;
	width:		200px;
	float:left;
	/*border:		1px solid red;*/
	background-color: #DFEBFB;
	background-image: url(../img/structure/nav_bg.gif);
	background-repeat: repeat-x;
	background-position: top left;
}

#navColumnGrey{ /* main column */
	margin-top:0px;
	margin-bottom:20px;
	width:		200px;
	float:left;
	/*border:		1px solid red;*/
	background-color: #ECECEC;
	background-image: url(../img/structure/nav_bg_grey.gif);
	background-repeat: repeat-x;
	background-position: top left;
}


#navColumn p #navColumnGrey p{
	margin-left:5px;
}

#contentColumn{
	margin-top: 	20px;
	margin-left:	220px;
	margin-right:	20px;
	/*border:		1px solid red;*/
	
	voice-family: "\"}\"";
		voice-family: inherit;
   		margin-left: 220px;
		 
   		
		}
	html>body #contentColumn {
   		margin-left: 220px;
   		
		}
		
#contentColumnKnowledgeBase{
	margin-top: 	20px;
	margin-left:	20px;
	margin-right:	20px;
	/*border:		1px solid red;*/
	min-width: 		100px;
	
	voice-family: "\"}\"";
		voice-family: inherit;
   		margin-left: 20px;
   		
		}
	html>body #contentColumnKnowledgeBase {
   		margin-left: 20px;
   		
		}
		
		
#actionsColumn{ /* Right hand column */
	float:right;
	margin-left:0px;
	width:	420px;
	background-color:#F9FCFF;
	padding:0 10px 0 20px;
	/*border:		1px solid red;*/
}


#pageFooter{
	clear: both;
	background-image: url(../img/structure/footer_bg.gif);
	background-repeat: repeat-x;
	background-position: top left;
	width: 100%;
	height: 50px;
	text-align:left;
}

#pageFooter p{
	height:30px;
	background-image: url(../img/structure/hornbill-logo-footer.gif);
	background-repeat: no-repeat;
	background-position: top right;
	margin:5px;
	color:#718292;
}	

.boxWrapper{
	margin: 0px;
	padding: 0px;
	background-image: url(../img/structure/box_header_bg.gif);
	background-repeat: no-repeat;
	background-position: top right;
	
	
	
}
.boxMiddle{
	border-left: 1px solid #718292;
	margin: 0px;
	padding: 0px;
	background-image: url(../img/structure/box_content_bg.gif);
	background-repeat: repeat-y;
	background-position: top right;

}
.boxContent{
	margin: 0 20px 0 20px;
	padding: 0px;
	
}

.boxFooter{

	margin: 0px;
	padding: 0px;
	background-image: url(../img/structure/box_footer_bg.gif);
	background-repeat: no-repeat;
	background-position: top right;
	
}
.spacer{
	height:0px;
	width:0px;
	line-height:0px;
}

.logintable{
	margin-left: 50px;
	margin-bottom: 20px;
}

#helpbox{
	position: absolute;
	right:	10px;
	top:	4px;
	
}

/* NAVIGATION */


/* NAVIGATION level one */
#navColumn ul, #navColumnGrey ul{
	padding:10px 0 0 0 ; 
	margin:10px 0 0 0px; 
	list-style:none;
	background-image: url(../img/structure/nav_dottedline.gif);
	background-repeat: no-repeat;
	background-position: bottom;

}
#navColumn ul li,#navColumnGrey ul li{
	background-image: url(../img/structure/nav_dottedline.gif);
	background-repeat: no-repeat;
	padding-top:6px;
	padding-bottom: 5px;
	margin-left:10px;	
	display:block;
	
}
#navColumn ul a,#navColumnGrey ul a{
	background-image: url(../img/structure/nav_nochild.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding:0px 0 0px 15px;
	margin:0px 0 0px 2px;
	font-weight: bold;
	text-decoration: none;
	display:block;
	width:160px;
}
#navColumn ul a:hover,#navColumGreyn ul a:hover{
	color: #060330;
}

/* NAVIGATION States (affect all levels) */
#navColumn .withchild,#navColumnGrey .withchild{
	background-image: url(../img/structure/nav_plus.gif);
}

#navColumn .withchildselected,#navColumnGrey .withchildselected{
	background-image: url(../img/structure/nav_minus.gif);
	color: #060330;
	font-weight: bold;
}

#navColumn .selected,#navColumnGrey .selected{
	color: #060330;
	font-weight: bold;
}


/* NAVIGATION level 2 (and onwards) */

#navColumn ul ul,#navColumnGrey ul ul{
	padding: 0 0 0 0;
	margin-top:6px;
	background-image:none;	
}

#navColumn ul ul li,#navColumnGrey ul ul li{
	background-image:none;
	padding-top:1px
}
#navColumn ul ul a,#navColumnGrey ul ul a{
	background-image: url(../img/structure/nav_triangle.gif);
	font-weight: normal;
	width:140px;
}
















/* Content area headings */

.sectionHead{
	clear:left;
	float: left;
	padding: 10px 0 8px 0;
}

.sectionHead table{
	width: auto;
	height: 25px;
	border-collapse: collapse;
}


table.sectionTitle h1{
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

table.sectionTitle {
	width: auto;
	height: 25px;
	border-collapse: collapse;
}

td.titleCell{
	background-image: url(../img/structure/sesctionHead_left.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 3px 0 0 5px;
	vertical-align: top;
}

td.statusCell{
	background-image: url(../img/structure/sesctionHead_right.gif);
	width: 80px;
	background-repeat: no-repeat;
	background-position: top right;
	padding: 3px 8px 0 5px;
	vertical-align: top;
	border-collapse: collapse;
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	text-align: right;
}


/* ITSM items */

.itsmItem{
	margin-bottom:5px;
	clear: both;
	
}

.itsmItemText{
	float: left;
	padding: 0 90px 0 18px;
	background-image: url(../img/icons/green_arrow.gif);
	background-repeat: no-repeat;
	background-position: 3px 2px;
}

.itsmItemStatus{
	float: right;
	padding-right: 3px;
	font-weight: bold;
}

.itsmStatusActive{
	color: #328A0B;
}

.itsmStatusInactive{
	color: #9B1E1E;
}

.itemDescriptionEmph{
	font-weight: bold;
}

/* Left hand side - action boxes */

#actionsColumn table{
	width: 100%;
}

.actionBox{
	border:1px solid #718292;
	margin: 5px 5px 0 0;
	padding: 2px ;
	background-color: #ffffff;
	float: left;
}

td.actionTitle{
	text-decoration: none;
	font-weight: bold;
	color: #396B99;
	width: 100%;
}

td.actionTitle a{
	color: #396B99;
	text-decoration: none;
	display: block;
	padding: 0 0 0 13px;
	background-image: url(../img/icons/blue_contract.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;
}

td.actionTitle a.expand{
	background-image: url(../img/icons/blue_expand.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;
}

td.actionTitle a:hover{
	color: #78B8F3;
}


td.actionCount{
	color: #9B1E1E;
	text-align: right;
	font-weight: bold;
}


.actionItemWrapper{
	border-top: 1px solid #474747;
	margin-top: 2px;
	padding-top: 1px;
}

.actionItem{
	width:100%;
	font-size: 0.85em;
	margin-bottom: 5px;
}

.actionItem a{
	padding: 0 0 0 13px;
	background-image: url(../img/icons/green_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;
	color: #474747;
	text-decoration: none;
}

.actionItem a:hover{
	color: #78B8F3;
}


td.actionItemCount{
	font-weight: bold;
	text-align: right;
}


.expandIcon{
	background-image: url(../img/icons/blue_expand.gif);
	background-repeat: no-repeat;
}


.green{
	color: #328A0B;
}

.actionUnderline{
	display: block;
	border-bottom: 1px solid #718292;
	height: 2px;
	margin: 0 0 3px 0;
	width:223px;
	clear: both;
	float: left;
	line-height: 0.1em;
}



.actionItemLink{
	float: left;

}

.actionItemLink a{
	text-decoration: none;
	color: #474747;
}

.actionItemLink a:hover{
	color: #78B8F3;
}



/* Table Layout */
.itemWrapper{
clear:both;

}
.itemWrapper a{
	text-decoration: none;
	font-weight: bold;
}

.itemWrapper table td{
	vertical-align: top;
	background-image: url(../img/structure/item_separator.gif);
	background-repeat: repeat-x;
	padding: 3px 0 3px 0;
}
table.itemTitle{
	width: auto;
}

.itemDescriptionTable td{
	vertical-align: top;
	padding: 0 0 8px 0;
}

td.leftCol{
	width: 13px;
	padding: 0;
}

td.leftCol img{
	margin-top: 2px;
}

td.rightCol{
	width: 60px;
	text-align: right;
}

td.rightCol a{
	padding-right: 6px;
}

/* Status styles */
#actionsColumn .high a{
	color: #9B1E1E;
}

#actionsColumn .high a:hover{
	color: #E53939;
}

#actionsColumn .medium a{
	color: #C18A07
}

#actionsColumn .medium a:hover{
	color: #FDBC23;
}

#actionsColumn .low a{
	color: #328A0B;
}

#actionsColumn .low a:hover{
	color: #66CB39;
}



.dataTable{
	border-collapse: collapse;
	
	
}
.dataTable thead{
	font-weight: bold;
	text-align: left;
	color: #328A0B;
	
}

.dataTable tfoot{
	font-weight: normal;
	text-align: right;
	
}

.dataTable thead th, .dataTable tbody td, .dataTable tfoot td{
	padding:5px;
	
}

.dataTable thead tr { /*, .dataTable tbody tr*/
	
	background-image: url(../img/structure/dotted_underline.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}

.tableHeaderActions{
	color: #9B1E1E;
}
.rightAlign{
	text-align:right;
}
.eventList thead th{
	color: #301795;
}
.eventList .evenRow{
	background-color: #F1F8FE;
}
/* Content area layout */

.infoTable{
	border-collapse: collapse;
	
}



.infoTable thead{
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6B99C3;
	background-image: url(../img/structure/sesctionHead_mid.gif);
	background-repeat: none;
	background-position: 0 0;
	height: 20px;
	text-align: left;
	
}

.infoTable thead th{
	padding: 0 5px 0 5px;
	background-repeat: repeat-x;
	background-position: 0 0;
}
.infoTable .theadLeft{
	background-image: url(../img/structure/sesctionHead_left.gif);
	background-repeat: none;
	background-position: 0 0;
}

.infoTable .theadRight{
	text-align:right;
	background-image: url(../img/structure/sesctionHead_right.gif);
	width: 80px;
	background-repeat: no-repeat;
	background-position: top right;
}

.infoTable .theadRight2{
	background-image: url(../img/structure/sesctionHead_right.gif);
	background-repeat: no-repeat;
	background-position: top right;
}

.infoTable tbody td{
	vertical-align: top;
	text-align: left;
	padding: 5px;
}

.infoTable .tbodyRight{
	text-align: right;
}
.infoTable th a:link, .infoTable th a:visited{
	color:#ffffff;
}  

.noLinkUnderlines a{
	text-decoration:none;
}

#callfilter{
	float:right;
}


.graphicActions{
	font-size:90%;
	
}
.graphicActions img{
	vertical-align:middle;
	margin-right:2px;
}

.graphicActions a{
	margin-right:4px;
}
.graphicActions a:link, .graphicActions a:visited{
	text-decoration:none;
}

.graphicActions a:hover{
	text-decoration:underline;
}

.picklist a{
	margin-right:3px;
}




/* KnowledgeBase */
.pIndented2 {
	padding-left:50px;
	padding-right:20px;

}

.cFilenameCmd {
	font-family: "Courier New", Courier, mono;
	color: black;
}

.calendar{
	width:auto;
	height:80px;
	/*border:1px solid #718292;*/
	margin: 5px 5px 0 0;
	padding: 2px ;
	background-image: url(../img/calendar/calendar.gif);
	background-repeat: no-repeat;
	background-position:top right;
}

.calendar .dateholder{
	text-align:center;
	float:right;
	width:57px;
	/*border:1px solid red;*/
}


.calendar .month{
	line-height:25px;
	font-size:10px;
	color:#FFFFFF;
	font-weight:bold;
	
}

.calendar .day{
	font-weight:bold;
	font-size:20px;
	
}

.calendar .year{

	font-size:9px;
	
}

td.calendarText{
	width: 150px;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.2em;
	color: #789AC5;
	padding-top: 6px;
}

td.calendarImg{
	text-align: right;
	padding-bottom: 2px;
}


td.dataLabel{
	font-weight:bold;
}

td.dataValue{
	background-color:#fafafa;
	border-bottom:1px solid #ffffff;
}