/* 
Version:		1.1 (tables)
Date:			22 May 2007
Author:		Steve Attewell - steve.attewell@noko.co.uk
Function:	To provide structure for SupportWorks Today
 */

body{
	background-color: #F9F9F9;
	color: #333333;
}


#pageArea{ /* main column */
	background-image: url(../img/structure/page_bg_grey.gif);
	background-repeat: repeat-y;
	background-position: top left;
}


#topBanner{
		background-image: url(../img/header/bg-grey.gif);
		background-repeat: no-repeat;
		background-position: top right;
		height:75px;
		voice-family: "\"}\"";
		voice-family: inherit;
		}

#topBanner h1{
	margin-left:70px;
	font-size:160%;
}

#actionsColumn{ /* Right hand column */
	background-color:#F9F9F9;
}

#navColumn{ /* main column */
	margin-top:0px;
	margin-bottom:20px;
	width:		200px;
	float:left;
	/*border:		1px solid red;*/
	background-color: #ECECEC;
	background-image: url(../img/structure/nav_bg_grey.gif);
	background-repeat: repeat-x;
	background-position: top left;
}


#navColumn p{
	margin-left:5px;
}

/* NAVIGATION */


/* NAVIGATION level one */
#navColumn ul{
	padding:10px 0 0 0 ; 
	margin:10px 0 0 0px; 
	list-style:none;
	background-image: url(../img/structure/nav_dottedline.gif);
	background-repeat: no-repeat;
	background-position: bottom;

}
#navColumn ul li{
	background-image: url(../img/structure/nav_dottedline.gif);
	background-repeat: no-repeat;
	padding-top:6px;
	padding-bottom: 5px;
	margin-left:10px;	
	display:block;
	
}
#navColumn ul a{
	background-image: url(../img/structure/nav_nochild.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding:0px 0 0px 15px;
	margin:0px 0 0px 2px;
	font-weight: bold;
	text-decoration: none;
	display:block;
	width:160px;
}
#navColumn ul a:hover{
	color: #060330;
}

/* NAVIGATION States (affect all levels) */
#navColumn .withchild{
	background-image: url(../img/structure/nav_plus.gif);
}

#navColumn .withchildselected{
	background-image: url(../img/structure/nav_minus.gif);
	color: #060330;
	font-weight: bold;
}

#navColumn .selected{
	color: #060330;
	font-weight: bold;
}


/* NAVIGATION level 2 (and onwards) */

#navColumn ul ul{
	padding: 0 0 0 0;
	margin-top:6px;
	background-image:none;	
}

#navColumn ul ul li{
	background-image:none;
	padding-top:1px
}
#navColumn ul ul a{
	background-image: url(../img/structure/nav_triangle.gif);
	font-weight: normal;
	width:140px;
}












