*
{
	font-size:11px;font-family:Verdana,sans-serif;
	resize: none;
}

body
{
	padding:0px;
	margin:0px;
	overflow:hidden;
}

#placeholder
{
	height:100%;
	width:100%;
}

#search-fields
{
	overflow:auto;
	overflow-y:auto;
	padding:3 3 3 3;
	height:300px;
	font-size:12px;
	padding:2px;
}

#search-fields td
{
	color:#696969;
}

#search-title-options
{
	font-size:12px;
	
	border-style:solid;
	border-width:1 0 1 0;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	color:#3C3C3C;
	height:20px;

	/* 11.03.2011 - gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);

	padding-top:2px;	
	padding-left:2px;
}


#search-action
{
	font-size:12px;
	padding:3 3 3 3;
	height:70px;
}


#search-calloptions
{
	font-size:12px;
	padding:3px;
	width:98%;
	*width:99%;
}

#search-calloptions td
{
	color:#696969;
}


.lbl
{
	color:#696969;
}

input
{
	border:1px solid #afafaf;
	height:18px;
	color:#696969;
}

select
{
	height:18px;
	border:1px solid #afafaf;
	color:#696969;
}

button
{
	color:#3C3C3C;
}


.profilecode
{
	background-image:url(sfcimages/form.gif);
	background-repeat: no-repeat;
	background-position: center right;
}


.datebox
{
	background-image:url(sfcimages/calendar.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

/* date control */
.form_date_picker
{
	background-color:#ffffff;
	width:150px;
	display:block;
	position:absolute;
	z-Index:99999999;
	border-style:solid solid solid solid;
	border-width:1 1 1 1;
	border-color:#949A9C #949A9C #949A9C #949A9C;
}
.calendar-leftarrow
{
	background-image:url(sfcimages/arr_left.ico);
	background-repeat:no-repeat;
	background-position:left center;
	width:18px;
	height:18px;
	cursor:pointer;
}
.calendar-rightarrow
{
	background-image:url(sfcimages/arr_right.ico);
	background-repeat:no-repeat;
	background-position:right center;
	width:18px;
	height:18px;
	cursor:pointer;
}
.monthyear
{
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color: #000000;

	background:silver;
	
	border-width:0px 0px 0px 0px;
	border-color:white gray gray white;
	border-style: solid;	
}
.monthyeartext
{
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color: #000000;
	background:silver;
}
.daysheader
{
	font-family:Arial;
	font-size:10px;
	color: #000000;
	
	border-width:0px 0px 1px 0px;
	border-color:white white gray white;
	border-style: solid;	
	display:block;
}
.daysholder
{
	font-family:Arial;
	font-size:10px;
	color: #000000;
	display:block;
}

.daycell
{
	font-size:11px;
	width:20px;
	*width:15px;
	cursor:hand;
}
/* eof date control */
