<STYLE type="text/css">
<!--

OL { 
	color: #777777; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 10px;
	}
body{
	margin:0px;	
	}
UL { color: #777777; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 10px;
	}
LI { color: #777777; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 10px;
	}
TD { color: #777777; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 10px;
	}
.header1{font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14;
	color: #336699;
	font-weight:bold;
	}
.error{font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12;
	color: #336699;
	font-weight:bold;
	}
.issues {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 11px; 
	font-weight:bold; 
	text-decoration: none;
	}
.impact {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 11px; 
	font-weight:bold; 
	text-decoration: none;
	}
.calls {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px; 
	font-weight:normal; 
	text-decoration: none;
	}
.messages {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px; 
	font-weight:normal; 
	text-decoration: none;
	}
.tips {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	font-size: 9px; 
	font-weight:normal; 
	text-decoration: none;
	}
a:link {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: none;
	}
a:visited {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: none;
	}
a:hover {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: underline;
	}
a:active {color: #396da5; 
	font-family: verdana,Arial,Helvetica; 
	text-decoration: none;
	}

-->
</STYLE>
