*
{
	font-size:11px;font-family:Verdana,sans-serif;
}

body
{
	overflow:hidden;
	margin:0 0 0 0;
	padding:0 0 0 0;
}


.div-title-top
{
	border-width:0px 0px 1px 0px;
	border-style:solid solid solid solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	padding:3px;
	font-size:12px;
	width:100%;
	color:#696969;


	/* 11.03.2011 - gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);

}

#div_folders
{
	padding:5 5 15 5;
	width:300px;
	height:200px;
	overflow:auto;
}

