

.div_call_rating
{
	position:absolute;
	top:10px;left:10px;
	width:295px;
	height:175px;
	background-color:#FFFFFF;
	background-color:#F7FBFF;
	border: 1px solid #557693;
	padding:5px;
	overflow:hidden;
	display:none;
}

.btn_signin
{
	background-color:#A3CAF0;
	border: 1px solid #557693;	
	position:relative;
	height:22px;
	top:1px;
	top:expression(window.ActiveX ? "20px":"2px");
	left:5px;
	display:none;
}

.btn_med
{
	width:55px;
}

.selector
{
	width:200px;
	background-color:red;
}
.page-hide
{
	overflow:auto;
	display:none;
}

.page-show
{
	overflow:auto;
	display:inline;
}

.q_show
{
	display:block;
}

.q_show_bold
{
	font-weight:normal;
	display:block;
	color:blue;
	width:500px;
}

.q_hide
{
	display:none;
	width:500px;
}

.q_textarea
{
	width:100%;
	height:70px;
}
.q_textbox
{
	width:450px;
}
.q_mline_select
{
	width:450px;
	height:70px;
}

.q_sline_select
{
	width:450px;
}

.q_radio,.q_check
{
	border-width:0px;
}

.sm_txt
{
	width:200px;
}
.med_txt
{
	width:350px;
}
.lg_txt
{
	width:450px;
}

h1{
	font-size:200%;
	color:#00AEEF;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
}

h2{
	font-size:150%;
	color:#00AEEF;
	font-weight:normal;
	margin-top:0px;
	margin-bottom:5px;
}

h3{
	font-size:120%;
	color:#00AEEF;
	font-weight:bold;
	margin-top:0px;
}

#contentColumn h1{
	
	background-image: url(../common/img/structure/dotted_underline.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
	padding-bottom:5px;
	margin-right:50px;
}


#contentColumn .boxWrapper h1{
	background-image: none;
}

#contentColumn p{
	line-height:1.5em;
	margin:6px 0 11px 0;
}


#contentColumn .actionText{
	font-size:140%;
	color:#328A0B;
	font-weight:bold;
}
#contentColumn .actionText a,#contentColumn .actionText a:visited{
	color:#328A0B;
	
}
#contentColumn .actionText a:hover{
	color:#66CB39;
	
}

.steps
{
	font-size:250%;
}

.stepOn{
	/*border:		1px solid red;*/
	padding-top:5px;
	background-image: url(../img/structure/step_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0px -1px;
}

.stepToDo{
	color: #CCCCCC;
}
.stepDone{
	color: #8CDAF7;
}


form
{
	margin:0px;
}

select, textbox, textarea, input
{
	color: #474747;
	border: 1px solid #557693;
	font-size: 100%;
}

textarea
{
	font-size: 12px;
}

.input{
	color: #474747;
	border: 1px solid #557693;
	font-size: 100%;
}

.radio
{
	color: #474747;
	border: 0px solid #557693;
	font-size: 100%;

}

.errorMessage
{
	color:#D40000;
	text-align:center;
}

.button{
	font-size: 200%;
	background-color:transparent;
	border: 0px;
	text-decoration:underline;
	color: #328A0B;
	cursor:pointer;

}

.buttonNext{
	font-size: 140%;
	background-color:transparent;
	border: 0px;
	text-decoration:underline;
	color: #328A0B;
	cursor:pointer;
	

}

.buttonPrevious
{
	font-size: 140%;
	background-color:transparent;
	border: 0px;
	text-decoration:underline;
	color: #C18A07;
	cursor:pointer;
	margin-left:-24px;
}


/* NWJ Added styles */

.input-date
{
	background-image: url(../img/icons/date-picker.gif);
	background-repeat: no-repeat;
	background-position: 100%;

}

.cmdb-active
{
	width:16px;
	height:16px;
	background-image: url(../img/icons/cmdb-active.jpg);
}

.cmdb-faulty
{
	width:16px;
	height:16px;
	background-image: url(../img/icons/cmdb-faulty.jpg);
}

.cmdb-unavail
{
	width:16px;
	height:16px;
	background-image: url(../img/icons/cmdb-unavail.jpg);
}

.call-pos
{
	padding-left:18px;
	width:16px;
	height:16px;
	background-image: url(../img/icons/call-pos.jpg);
	background-repeat: no-repeat;
}

.call-neg
{
	padding-left:18px;
	width:16px;
	height:16px;
	background-image: url(../img/icons/call-neg.jpg);
	background-repeat: no-repeat;
}

.call-neu
{
	padding-left:18px;
	width:16px;
	height:16px;
	background-image: url(../img/icons/call-neu.jpg);
	background-repeat: no-repeat;
}

/* NWJ - calendar control styling */
.calendar-holder
{
	display:none;
	position:absolute;
	z-index:999999;

	border-width:1px 1px 1px 1px;
	border-color:gray gray gray gray;
	border-style: solid solid solid solid;	
	padding:0px 0px 0px 0px;
	
	top:0px;
	left:0px;
	width:184px;
	
	background:#F2F2ED;

	cursor:default;
}

.calendar-shimer
{
	display:none;
	position:absolute;
	z-index:999999;

	border-width:0px 0px 0px 0px;
	border-color:gray gray gray gray;
	border-style: solid solid solid solid;	
	padding:0px 0px 0px 0px;
	
	top:0px;
	left:0px;
	width:184px;
	height:152px;
	background:#F2F2ED;

	cursor:default;
}

.calendar-bar
{
	font:menu;
	text-align:center;
}

.calendar-table
{
	font:menu;
	text-align:center;
	background:#F8F8F8;
}

.calendar-daysrow
{
	background:#D3D3D3;
	font:menu;
	text-align:center;
	width:22px;height:18px;

	border-width:1px 0px 1px 0px;
	border-color:gray gray gray gray;
	border-style: solid;	

}

.calendar-daysrow-red
{
	color:#CC4444;
	background:#D3D3D3;
	font:menu;
	text-align:center;
	width:22px;height:18px;

	border-width:1px 0px 1px 0px;
	border-color:gray gray gray gray;
	border-style: solid;	

}

.calendar-today
{
	background:#CECECE;
}

.calendar-day
{
	color:#000000;
	width:22px;height:18px;
	text-align:center;
}

.calendar-redday
{
	color:#CC4444;
	width:22px;height:18px;
	text-align:center;
}

.calendar-redday-soft
{
	color:#FF9999;
	width:22px;height:18px;
	text-align:center;
}

.calendar-day-soft
{
	color:#808080;
	width:22px;height:18px;
	text-align:center;
}
/* hover styles */
.calendar-day-hover
{
	color:#000000;
	background:#9DBAE1;
	width:22px;height:18px;		
	text-align:center;
}

.calendar-redday-hover
{
	color:#CC4444;
	background:#9DBAE1;
	width:22px;height:18px;
	text-align:center;
}

.calendar-redday-soft-hover
{
	color:#FF9999;
	background:#9DBAE1;
	width:22px;height:18px;
	text-align:center;
}

.calendar-day-soft-hover
{
	color:#808080;
	background:#9DBAE1;
	width:22px;height:18px;
	text-align:center;
}

