*
{
	font-size:11px;font-family:Verdana,sans-serif;
	resize: none;
}

body
{
	padding:0px;
	margin:0px;
	overflow:hidden;
}

#placeholder
{
	height:100%;
	width:100%;
}

#search-fields
{
	overflow:auto;
	overflow-y:auto;
	padding:3 3 3 3;
	height:300px;
	font-size:12px;
	padding:2px;
}

#search-fields td
{
	color:#696969;
}

#search-title-options
{
	font-size:12px;
	
	border-style:solid;
	border-width:1 0 1 0;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	color:#3C3C3C;
	height:20px;


	/* 11.03.2011 - gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	
	padding-top:2px;	
	padding-left:2px;
}


#search-action
{
	font-size:12px;
	padding:3 3 3 3;
	height:70px;
}

.lbl
{
	color:#696969;
}

input
{
	border:1px solid #afafaf;
	height:18px;
	color:#696969;
}

select
{
	height:18px;
	border:1px solid #afafaf;
	color:#696969;
}

button
{
	color:#3C3C3C;
}

.datebox
{
	background-repeat: no-repeat;
	background-position: right middle;
	background-image:url(mesimages/calendar.gif);
}

.hidden
{
	display:none;
}