<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<wss-page-header title="Global Search" icon="fa-globe">
				<span class="hidden-xs">These are your global search results</span>
				<span class="hidden-sm hidden-md hidden-lg">Global Search Results</span>
			</wss-page-header>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div ng-include="'templates/knowledge/global/global.knowledge.results.tpl.html'"></div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div ng-include="'templates/knowledge/global/global.request-list.mobile.tpl.html'"></div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div ng-include="'templates/knowledge/global/global.service.results.tpl.html'"></div>
		</div>
	</div>
</div>
