*
{
	font-size:12px;font-family:Verdana,sans-serif;
}

body
{
	overflow:hidden;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:#D8E7FC;
	background-color:#A4C2F5;
}

#outlookbar-holder
{
	background-color:#ffffff;
	width:100%;
	height:100%;
	overflow:hidden;
}

#widget-holder
{
	width:100%;
	height:100%;
	overflow:hidden;
}

#div-title
{
	background-color:#efefef;
	width:100%;
	height:100%;
}


#ol-title-holder
{
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:#D5D4DF;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8BAC2', endColorstr='#7B8395');
	background: -webkit-gradient(linear, left top, left bottom, from(#B8BAC2), to(#7B8395)); 
	background: -moz-linear-gradient(top,  #B8BAC2,  #7B8395); 
	background: -ms-linear-gradient(top,  #B8BAC2,  #7B8395); 

	padding:5px 5px 8px 3px;
}
#title-holder
{
	color:#ffffff;
	width:100%;
	display:block;
	cursor:default;
	padding-left:4px;
}


#baritems-holder
{
	background-color:#efefef;
	width:100%;
	height:100%;
}

#baritems-holder div
{
	border-style:solid;
	border-width:1 0 0 0;
	border-color:#D5D4DF;

	width:100%;
	height:25px;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D5D4DF'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D5D4DF)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #D5D4DF);

}

#baritems-holder img
{
	height:20px;
	width:20px;
}

#baritems-holder td
{
	padding-left:3px;
	height:25px;
}


.bar-item-selected
{
	height:27px;
	width:27px;

	border-style:solid solid solid solid;
	border-width:1px 1px 1px 1px;
	border-color:#FFBD69 #FFBD69 #FFBD69 #FFBD69;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5CC', endColorstr='#FFDB75'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF5CC), to(#FFDB75)); 
	background: -moz-linear-gradient(top,  #FFF5CC,  #FFDB75);

}

.bar-item-hilite
{
	background-color:#B6BDD2;
	background-color:#FF7F00;
	height:25px;
}

.bar-item-selected-hilite
{
	background-color:#8592B5;
	background-color:#FFAA00;
	height:25px;
}

.bar-item
{
	cursor:default;
}
.bar-item-hide
{
	display:none;
}

.sbar-item
{
	position:relative;
	margin-top:4px;
	margin-left:6px;
	*margin-left:4px;

	width:40px;
	height:40px;
	cursor:pointer;

	
	background-image:url(images/toolbar-icon-bg.png);
	background-repeat: no-repeat;
	background-position:middle middle;
}

.sbar-item-selected
{
	position:relative;
	margin-top:4px;
	margin-left:6px;
	*margin-left:4px;

	width:40px;
	height:40px;
	cursor:default;

	background-image:url(images/toolbar-icon-bg-sel.png);
	background-repeat: no-repeat;
	background-position:middle middle;
}

.sbar-item-hide
{
	display:none;
}


.sbar-item img
{
	width:32px;
	height:32px;
}

.sbar-item-selected img
{
	width:32px;
	height:32px;
}


#shortcuts-holder
{
	border-style:solid;
	border-width:1 0 0 0;
	border-color:#D5D4DF;
	background-color:#D4D5D8;
	width:100%;
	padding:0px 2px 2px 2px;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D5D4DF'); 
	cursor:default;
}
