*
{
	/*font-size:100%;font-family:Verdana,sans-serif;letter-spacing:.03em;*/
	font-size:12px;font-family:Verdana,sans-serif;

}

body
{
	overflow:hidden;
	margin:0px;
	padding:0px 0px 0px 0px;
}

#outlookbar-holder
{
	background-color:#ffffff;
	width:100%;
	overflow:hidden;
}

#widget-holder
{
	width:100%;
	overflow:hidden;
}

#div-title
{
	background-color:#efefef;
	width:100%;
	height:100%;

}


#ol-title-holder
{
	border-style:solid;
	border-width:0px 0px 1px 0px;
	border-color:#D5D4DF;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8BAC2', endColorstr='#7B8395');
	background: -webkit-gradient(linear, left top, left bottom, from(#B8BAC2), to(#7B8395)); 
	background: -moz-linear-gradient(top,  #B8BAC2,  #7B8395); 
	background: -ms-linear-gradient(top,  #B8BAC2,  #7B8395); 

	padding:5px 5px 8px 3px;
}


#title-holder
{
	padding-left:3px;
	width:100%;
	height:26px;

	background-color:#808080;
	color:#ffffff;
}


#baritems-holder
{
	background-color:#efefef;
	width:100%;
	height:100%;
}

#baritems-holder div
{
	border-style:solid;
	border-width:1 0 0 0;
	border-color:#808080;

	width:100%;
	height:25px;

	background-color:#efefef;
	/*background-image:url(images/bar-blue.gif);*/
	background-image:url(images/bar-gray.png);
	background-repeat: repeat-x;
	background-position:left middle;
}

#baritems-holder img
{
	height:20px;
	width:20px;
}

#baritems-holder td
{
	padding-left:3px;
	height:25px;
}


.bar-item-selected
{
	background-color:#D4D5D8;
	background-color:#FFAA2A;
	height:25px;
}

.bar-item-hilite
{
	background-color:#B6BDD2;
	background-color:#FF7F00;
	height:25px;
}

.bar-item-selected-hilite
{
	background-color:#8592B5;
	background-color:#FFAA00;
	height:25px;
}

.bar-item
{

}
.bar-item-hide
{
	display:none;
}

.sbar-item
{
	float:left;
	margin-left:2px;
	margin-top:2px;

	width:24px;
	height:24px;
}

.sbar-item-selected
{
	float:left;
	margin-left:2px;
	margin-top:2px;

	width:24px;
	height:24px;
	background-color:#FFAA2A;
}

.sbar-item-hide
{
	display:none;
}


.sbar-item img
{
	width:20px;
	height:20px;
}

.sbar-item-selected img
{
	width:20px;
	height:20px;
}


#shortcuts-holder
{
	border-style:solid;
	border-width:1 0 0 0;
	border-color:#808080;
	background-color:#D4D5D8;
	width:100%;
	padding:0px 2px 2px 2px;

	background-image:url(images/bar-gray.png);
	/*background-image:url(images/bar-blue.gif);*/
	background-repeat: repeat-x;
	background-position:left middle;

}
