	.popupholder
	{
		font-size:11px;
		border-width:1px;
		border-color:#ffffff;
		border-style: solid ;	
		padding:0px 0px 0px 0px;
	}		


	.date-calendar
	{
		margin-left:35px;
		display:block;
		float:left;
		cursor:hand;
		height:115px;
		width:150px;
		padding:0px 0px 0px 0px
	}

	.monthyear
	{
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#696969;
	
		background:silver;
	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
		background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
		background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
		background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);

		border-width:1px 1px 1px 1px;
		border-color:whitesmoke #D5D4DF #D5D4DF whitesmoke;
		border-style: solid;	
	}
	.monthyeartext
	{
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#696969;
	
		background:silver;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
		background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
		background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
		background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	}
	.daysheader
	{
		font-family:Arial;
		font-size:10px;
		color:#696969;
		
		border-width:0px 0px 1px 0px;
		border-color:white white gray white;
		border-style: solid;	
		display:inline;
	}
	.daysholder
	{
		font-family:Arial;
		font-size:10px;
		color:#696969;
		display:inline;
	}
	
	.daycell
	{
		font-size:11px;
		width:20px;
		*width:15px;
		cursor:hand;
		color:#696969;
	}
	
	#clickbox
	{
		border-width:1px 1px 1px 1px;
		border-color:black black black black;
		border-style: solid;		
		font-size:0px;
		position:relative;
		width:10px;
		height:10px;
		top:-10px;
	}
