*
{
	font-size:11px;font-family:Verdana,sans-serif;
}

body
{
	overflow:hidden;
	margin:0px;
	padding:0px 0px 0px 0px;
}

#sp_browse
{
	font-weight:bold;
	cursor:pointer;
}

#sp_search
{
	font-weight:normal;
	cursor:pointer;
}


.div-title-top
{
	border-width:0px 0px 1px 0px ;
	border-style:solid solid solid solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	padding:3px;
	width:100%;
	font-size:12px;
	color:#696969;

	/* 11.03.2011 - gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);

}

.div-title-middle
{
	border-width:1px 0px 1px 0px ;
	border-style:solid solid solid solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	padding:3px;
	width:100%;
	font-size:12px;
	color:#696969;


	/* 11.03.2011 - gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);
}

#div_mailboxes
{
	height:150px;
	overflow:auto;
}

#div_mailbox_folders
{
	height:auto;
	overflow:auto;
}

#div_mailbox_search
{
	display:none;
	height:auto;
	overflow:auto;
}

.div-mailbox-title-shared
{
	padding:2px 2px 2px 20px;
	width:100%;
	font-size:11px;
	background-image:url('treeimages/suppgroup.png');
	background-repeat: no-repeat;
	background-position: left 50%;

	cursor:pointer;
}

.div-mailbox-title-user
{
	padding:2px 2px 2px 20px;
	width:100%;
	font-size:11px;
	background-image:url('treeimages/swanalyst.png');
	background-repeat: no-repeat;
	background-position: left 50%;

	cursor:pointer;
}