<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Requests Raised Per Month</strong>
  </div>
  <div class="panel-body">
    <div  fusioncharts
          width="100%"
          type="column2d"
          dataSource="{{myDataSource}}" >
    </div>
  </div>
</div>
