  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Portal Information</strong>
    </div>
    <div class="panel-body">
      <p ng-bind-html="welcomeTextOne"></p>
      <p ng-bind-html="welcomeTextTwo"></p>
      <p ng-bind-html="welcomeTextThree"></p>
    </div>
  </div>
