.infoHeader
{
	color:#ffffff;
	background-color:#033098;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5987D6', endColorstr='#0E3CA0'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#5987D6), to(#033098)); 
	background: -moz-linear-gradient(top,  #5987D6,  #033098);
}

.reportheader
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5987D6', endColorstr='#0E3CA0'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#5987D6), to(#033098)); 
	background: -moz-linear-gradient(top,  #5987D6,  #033098);

}
