<div class="row row-top-buffer">
  <div class="col-xs-12">
    <div  class="alert alert-danger">
      <strong>Warning!</strong> You've reached an area of the application that contains no content!
    </div>
  </div>
</div>
