body
{
	overflow:auto;
	padding:3;
	margin:0;
}
.dtree 
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;	
	white-space: nowrap;	
}
.dtree img 
{
	border: 0px;
	vertical-align: middle;
}
.dtree a 
{
	color:#696969;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel 
{
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, 
{
	color: #333333;
	text-decoration: underline;
}
.dtree a.nodeSel:hover 
{
	text-decoration: none;
	background-color: navy;
	color: #ffffff;
}

.dtree a.nodeSel 
{
	text-decoration: none;
	background-color: navy;
	color: #ffffff;
}
.dtree .clip 
{
}