/* 
Version:	1.1 (tables)
Date:		21 Sept 2007
Author:		Neilwj
Function:	Printing php active pages css (removes image borders)
 */

body
{
	background-color: #ffffff;
	background-image: none;
}

.activepagebody
{
	background-image: none;
}

#swtImgTopLeft
{
	display:none;
}

#swtImgBottomLeft
{
	display:none;
}

#activepagecontentColumn
{
	background-image: none;
}

#contentColumn
{ 
	background-image: none;
}

#contentWrapper
{
	background-image: none;
}

#formArea
{
	background-image: none;
}

#swtPageTop
{
	background-image: none;
}

#swtInfoBody
{
	background-image: none;
	border-left: 0px solid #718292;
}

#swtPageBottom
{
	background-image: none;
}

