<div ng-controller="ProfileDetailsCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>My Details</strong>
		</div>
		<div class="panel-body">
			<form novalidate name="profileDetailsForm">
				<div class="form-group">
					<label for="name">Name</label>
					<div class = "input-group">
						<input readonly type="text" class="form-control" ng-model="user.firstname" disable-valid-styling="true"/>
						<span class="input-group-addon">-</span>
						<input readonly type="text" class="form-control" ng-model="user.surname" disable-valid-styling="true"/>
					</div>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input readonly type="email" class="form-control" ng-model="user.email" disable-valid-styling="true" />
				</div>
				<div class="form-group">
					<label for="mobiletel">Telephone Number</label>
					<input readonly type="text" class="form-control" ng-model="user.mobiletel" disable-valid-styling="true"/>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input readonly type="text" class="form-control" ng-model="user.location" disable-valid-styling="true" />
				</div>
				<!-- Submit update button (only enabled when form has been modified) -->
				<input disabled type="submit" value="Update" ng-class="'btn btn-primary btn-sm'"
													ng-disabled="profileDetailsForm.$pristine"
													ng-click="profileDetailsForm.$setPristine();
															  submitProfileUpdate()"/>
				<!-- Reset changes button (only enabled when form has been modified) -->
				<input disabled type="button" value="Reset" ng-class="'btn btn-danger btn-sm'"
												   ng-disabled="profileDetailsForm.$pristine"
												   ng-click="profileDetailsForm.$setPristine();
															 resetProfileDetails()"/>
			</form>
		</div>
	</div>
</div>
