<div ng-if="sessServ.previousLogin">
	<div class="backstretch" backstretch backstretch-images="images" backstretch-duration="5000" backstretch-fade="1">
		<div class="container-fluid login-page">
			<div class="row">
				<div class="col-md-12">
					<div class="login-title">
						<h1 class="text-center">{{brandTextTitle}}</h1>
					</div>
					<div class="login-subtitle">
						<p class="text-center">{{brandSubTitle}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
