		.button
		{
			color:#ffffff;
			vertical-align:middle;
		}
		.buttontext
		{
			padding-top:3px;
		}
		.applayout
		{
			font-family:Trebuchet MS;
			color:#3B5998;
			background-color:#ffffff;
			padding:1px 0px 0px 0px;
			margin:0px;
			overflow:hidden;
		}
		.sitetitle
		{
			font-weight:bold;
			text-align:center;
			background-image: url("images/banner_bg.jpg");
			background-repeat: repeat-x; 
			color:#ffffff;
		}

		.actionsleft
		{
			text-align:left;
		}
		.actionsright
		{
			text-align:right;
		}
		.sitelinks
		{
		}
		.actionlink
		{
			padding:0px;
			border:1px;
			border-color:#3B5998;
			border-style:solid;
			background-color:#3B5998;
			margin-left:1px;
			margin-right:1px;
		}

		.asitelink
		{
			position:relative;
			top:2px;
			*top:0px;
			border:0px;
			padding:4px 4px 4px 4px;
			background-color:#3B5998;
			color:#ffffff;

			font-size:80%;
			font-weight:bold;
			text-align:center;

			margin-left:2px;
			margin-right:2px;
		}

		.asitelink-selected
		{
			position:relative;
			top:2px;
			*top:0px;
			font-size:80%;
			border:0px;
			padding:4px 4px 4px 4px;
			background-color:#6D86B7;
			color:#ffffff;


			font-weight:bold;
			text-align:center;

			margin-left:2px;
			margin-right:2px;
		}

		.sitecontent
		{
			height:100%;
			background-color:#f0f0f0;
		}
		.ifcontent
		{
			background-color:#f0f0f0;
			border-width:0px;
			height:100%;
			width:100%;
		}

	a {
	  text-decoration: none;
	}

	a.lmb {
	  /* padding, margins and other styles here */
	  display:inline;
	  float: left;
	  position: relative;
	  height: 32px;
	  text-decoration: none;
	  padding:6px 0 0 10px;
	}
	a.lmb_hidden
	{
	  display:none;
	  float: left;
	  position: relative;
	  height: 58px;
	  text-decoration: none;
	  padding:10px 0 0 10px;
	}
	a.rmb {
	  /* padding, margins and other styles here */
	  display:inline;
	  float: right;
	  position: relative;
	  height: 34px;
	  text-decoration: none;
	  padding:6px 10 0 0px;
	}
	a.rmb_hidden
	{
	  display:none;
	  float: right;
	  position: relative;
	  height: 34px;
	  text-decoration: none;
	  padding:10px 10 0 0px;
	}
	a span 
	{
		background: transparent url('images/icons/mb_bg.jpg') repeat-x;
		background-position: 5 0;
		color: #FFFFFF;
		float:left;
	  /* padding, margins and other styles here */
	}

	img.mb_rimg
	{
		float:none;
		height:30px;
		border:none;
		padding:none;
	}

	img.mb_laimg
	{
		float:left;
		height:30px;
		border:none;
		padding:none;
		margin: 0 0 0 -3px;
	}
	.textHolder
	{
		padding:10px 0 0;
	}

	textarea
	{
		width:100%;
	}
	.itextHolder
	{
		padding:10px 0 0;
	}

	.ibuttonbg
	{
		background: transparent url('images/icons/ibg.jpg') repeat-x;
		color: black;
		height:100%;
		float:left;
		vertical-align:middle;
	  /* padding, margins and other styles here */
	}

	img.i_rimg
	{
		float:none;
		height:43px;
		border:none;
		padding:none;
	}

	img.i_laimg
	{
		float:left;
		height:43px;
		border:none;
		padding:none;
		margin: 0 0 0 -3px;
	}

	.errormsg
	{
		color:red;
	}