*
{
	font-size:11px;font-family:Verdana,sans-serif;
}

body
{
	overflow:hidden;
	margin:0px;
	padding:0px 0px 0px 0px;
	
}


.div-title-top
{
	border-width:0px 0px 1px 0px ;
	border-style:solid solid solid solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	padding:3px;
	width:100%;
	font-size:12px;
	color:#696969;
	
	/* 11.03.2011 - grey gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E1E1E1'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E1E1E1)); 
	background: -moz-linear-gradient(top,  #FFFFFF,  #E1E1E1);
	background: -ms-linear-gradient(top,  #FFFFFF,  #E1E1E1);

}

.div-space-middle
{
	position:relative;
	display:block;
	border-width:1px 0px 1px 0px ;
	border-style:solid solid solid solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;
	width:100%;
	height:3px;
	font-size:1px;
	background-color:#efefef;
}

#div_calendars
{
	font-size:12px;
	height:150px;
	overflow:auto;
}

#div_dateselectors
{
	float:left;
	display:block;
	overflow:auto;
	width:100%;
	padding:5px 5px 0px 5px;
	margin:auto;
}

