<div class="row">
  <div class="col-sm-12">
    <div class="hb-title">
      <div class="header-icon">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x" style="{{stack}}"></i>
          <i class="fa {{icon}} fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="header-title-container">
        <h2 class="title">
          <span>{{ title }}</span>
        </h2>
        <p class="subtitle">
          <span ng-transclude>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
