.hb-iconpicker {
    min-width: 160px;
}
.hb-iconpicker .pager {
    margin: 5px;
}
.hb-iconpicker div.icon-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    min-width: 30px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.hb-iconpicker div.icon-container i {
    color: black;
    font-size: 14px;
    padding: 5px;
}
.hb-iconpicker div.icon-container.active
{
    background-color: #428bca;
}
.hb-iconpicker div.icon-container.active i
{
    color: white;
}
