<div class="row marg-b-5 hb-iconpicker-exclude">
  <div class="col-xs-6 hb-iconpicker-exclude" style="width:50%;"><a href type="button" class="btn btn-primary hb-iconpicker-exclude" ng-disabled="noPrevious()||ngDisabled" ng-click="selectPage(page - 1, $event)"><i class="fa fa-arrow-left hb-iconpicker-exclude"></i></a></div>
  <div class="col-xs-6 text-right hb-iconpicker-exclude" style="width:50%;"><a href type="button" class="btn btn-primary hb-iconpicker-exclude" ng-disabled="noNext()||ngDisabled" ng-click="selectPage(page + 1, $event)"><i class="fa fa-arrow-right hb-iconpicker-exclude"></i></a></div>
</div>
