*{
	font-size:11px;font-family:Verdana,sans-serif;
}

body
{
	overflow:auto;
	padding:3;
	margin:0;
}
.dtree 
{
	white-space: nowrap;	
}
.dtree img 
{
	border: 0px;
	vertical-align: middle;
}
.dtree a 
{
	color:#696969;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel 
{
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover 
{
	color: #333333;
	text-decoration: underline;
}
.dtree a.nodeSel 
{
	background-color: #EBF3F3;
	text-decoration: underline;

}
.dtree .clip 
{
}