/* 
Version:		1.1 (tables)
Date:			19 Feb 2007
Author:		Dave Ellis - dave.ellis@noko.co.uk
Function:	To provide structure for SupportWorks Today
 */

body
{
	padding:0px;
	margin:0px;
	
	/*nwj 
		background-color: #F2F8FF;
		background-image: url(../img/structure/swt_bg_tr.gif);
		background-repeat: no-repeat;
		background-position: top right;

	*/

	background-color:#ffffff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

	color: #474747;
}

.activepagebody
{
	margin: 0px;
	padding:0 0 0 0;
	/*background-color: #F2F8FF;*/
	/*background-image: url(../img/structure/swt_bg_tr.gif);
	background-repeat: no-repeat;
	background-position: top right;*/
	min-width: 600px;  /*FAILS IN IE 6! */
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 76%;
	color: #474747;
}

/*#IE6MinWidth{
    width:expression(document.body.clientWidth < 760? "740px": document.body.clientWidth > 1090? "1050px" : "auto" );
}*/

img{
	border: 0;
}

#wrapper
{
	background-color:transarent;

	width:100%;	
	border-right:240px solid transarent; /* The width and color of the 'actionsColumn' */
	margin-right:-240px;
	display:inline; /* IE Fix*/
}

#activepagewrapper
{
	margin-top: 20px;
	margin-bottom: 10px;
	background-color:transarent;

	width:100%;	
	border-right:260px solid transarent; /* The width and color of the 'actionsColumn' */
	margin-right:-260px;
	display:inline; /* IE Fix*/
}

#activepagecontentColumn{ /* main column */
	margin:5px 5px 5px 5px;
	width:99%;
}
#activepageactionsColumn{ /* right hand column */

	width:250px;
	margin-right:-250px;
	position:relative;
}


#contentColumn{ /* main column */

	width:100%;
	/*background-image: url(../img/structure/swt_bg_tl.gif);
	background-repeat: no-repeat;
	background-position: top left;*/
}

#actionsColumn{ /* right hand column */

	width:240px;
	margin-top: 10px;
	position:relative;
}


#contentWrapper{
	argin:15px;
	padding-top:0;
	overflow:hidden;
	background-color: transparent;
}


* html #contentWrapper{
	height:1%; /* IE Fix*/
}

#contentWrapper p{
	margin:0;
}

#formArea
{
	/*background-image: url(../img/structure/swt_bg_tl.gif);
	background-repeat: no-repeat;
	background-position: top left;*/
	padding-right:0px;
}
/* Content area layout */

#swtPageTop{
	width: 100%;
	display:none;
	/*background-image: url(../img/structure/swt_page_tr.gif);
	background-repeat: no-repeat;
	background-position: top right;*/
}

#swtInfoBody{
	/*background-image: url(../img/structure/swt_page_bg.gif);
	background-repeat: repeat-y;
	background-position: top right;*/
	adding:0 15px 10px 10px;
	background-color: #ffffff;


	order-left: 1px solid #718292;
	font-size: 0.9em;
}

#swtPageBottom{
	width: 100%;
	height: 19px;
	/*
	background-image: url(../img/structure/swt_page_br.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
	*/

	display:none;
}

/* Content area headings */

.sectionHead
{
	padding: 0px 0 8px 0;
}

.sectionHead table{
	width:100%;
	height: 25px;
	border-collapse: collapse;
}

table.sectionTitle{
	/* 11.03.2011 - gradient*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A3A2BB', endColorstr='#8483A2'); 
	background: -webkit-gradient(linear, left top, left bottom, from #A3A2BB), to(#8483A2)); 
	background: -moz-linear-gradient(top,  #A3A2BB,  #8483A2);

	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#D5D4DF #D5D4DF #D5D4DF #D5D4DF;

	margin-bottom:1px;
	margin-top:8px;
}

table.sectionTitle h1{
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
	margin: 0;


}
td.titleCell{
	ackground-image: url(../img/structure/sesctionHead_left.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 5px 0 0 5px;
	vertical-align: top;


	

}

td.statusCell{
	ackground-image: url(../img/structure/sesctionHead_right.gif);
	width: 80px;
	background-repeat: no-repeat;
	background-position: top right;
	padding: 3px 8px 0 5px;
	vertical-align: top;
	border-collapse: collapse;
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	text-align: right;
}

td.endCell{
	ackground-image: url(../img/structure/sesctionHead_right.gif);
	width: 80px;
	background-repeat: no-repeat;
	background-position: top right;
	padding: 3px 8px 0 5px;
	vertical-align: top;
	border-collapse: collapse;
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	text-align: right;
}

a{
color:#0E63B8;
}

/* ITSM items */

.itsmItem{
	margin: 0 6px 5px 0;
	padding: 0 0 0 18px;
	clear: both;
	height: 1%; /* fix */
	ackground-image: url(../img/icons/green_arrow.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.itsmItemText{
	float: left;
	padding: 0 90px 0 0;
}

.itsmItemStatus{
	float: right;
	text-align: right;
}

.itsmStatusActive{
	color: #328A0B;
	font-weight: bold;
}

.itsmStatusInactive{
	color: #FE0707;
	font-weight: bold;
}

.itsmStatusImpacted{
	color: #FFC663;
	font-weight: bold;
}

.itemDescriptionEmph{
	font-weight: bold;
}

.itemDisplayNone
{
	display:none;
}

.itemDisplayInline
{
	display:Inline;
}

.blue{
	background-color: #FAFAFD;
}

.textblue
{
	color:#8592B5;
	font-weight: bold;
}

/* Left hand side - Calendar */
.calendar{
	order:1px solid #718292;
	margin: 5px 5px 0 0;
	padding: 2px ;
	ackground-image: url(../img/structure/calendar_bg.png);
	float: left;
}

td.calendarText{
	width: 150px;
	font-size: 1.2em;
	font-weight: bold;
	color: #789AC5;
	padding-top: 6px;
}

td.calendarDayText
{
	text-align: right;
	width: 150px;
	font-size: 4.2em;
	font-weight: bold;
	color: #789AC5;
}

td.calendarDayType
{
	font-size: 0.9em;
	font-weight: bold;
	color: #789AC5;
	padding-bottom:25px;
}

td.calendarImg{
	text-align: right;
	padding-bottom: 2px;
}



/* Left hand side - action boxes */

#actionsColumn table{
	width: 100%;
}

.actionBox{
	order:1px solid #718292;
	margin: 5px 5px 0 0;
	padding: 2px ;
	background-color: #ffffff;
	float: left;
}

td.actionTitle{
	text-decoration: none;
	font-weight: bold;
	color: #396B99;
	width: 100%;
}

td.actionTitle a{
	color: #396B99;
	text-decoration: none;
	display: block;
	padding: 0 0 0 0px;
	/*background-image: url(../img/icons/blue_contract.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;*/
}

td.actionTitle a.expand{
	/*background-image: url(../img/icons/blue_expand.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;*/
}

td.actionTitle a:hover{
	color: #396B99;
	/*color: #78B8F3;*/
}


td.actionCount{
	color: #9B1E1E;
	text-align: right;
	font-weight: bold;
}


.actionItemWrapper{
	order-top: 1px solid #474747;
	margin-top: 2px;
	padding-top: 1px;
}

.actionItem{
	width:100%;
	font-size: 0.85em;
	margin-bottom: 5px;
}

.actionItem a{
	padding: 0 0 0 13px;
	background-image: url(../img/icons/green_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;
	color: #474747;
	text-decoration: none;
}

.actionItem a:hover{
	color: #78B8F3;
}


td.actionItemCount{
	font-weight: bold;
	text-align: right;
}


.expandIcon{
	background-image: url(../img/icons/blue_expand.gif);
	background-repeat: no-repeat;
}


.green{
	color: #328A0B;
}

.actionUnderline{
	display: block;
	order-bottom: 1px solid #718292;
	height: 2px;
	margin: 0 0 3px 0;
	width:223px;
	clear: both;
	float: left;
	line-height: 0.1em;
}



.actionItemLink{
	float: left;

}

.actionItemLink a{
	text-decoration: none;
	color: #474747;
}

.actionItemLink a:hover{
	color: #78B8F3;
}



/* Table Layout */

.itemWrapper a{
	text-decoration: none;
	font-weight: bold;
}

.itemWrapper table td{
	vertical-align: top;
	background-image: url(../img/structure/item_separator.gif);
	background-repeat: repeat-x;
	padding: 3px 0 3px 0;
}
table.itemTitle{
	width: 100%;
}

.itemDescriptionTable td{
	vertical-align: top;
	padding: 0 0 8px 0;
}

td.leftCol{
	width: 13px;
	padding: 0;
}

td.leftCol img{
	margin-top: 2px;
}

td.rightCol{
	width: 60px;
	text-align: right;
}

td.rightCol a{
	padding-right: 6px;
}

/* Status styles */
.high a{
	color: #9B1E1E;
}

.high a:hover{
	color: #E53939;
}

.medium a{
	color: #C18A07
}

.medium a:hover{
	color: #FDBC23;
}

.low a{
	color: #328A0B;
}

.low a:hover{
	color: #66CB39;
}

/*nwj*/
td.right
{
	text-align:right;
	color:#3C3C3C;
	width:120px;
}
td.left
{
	text-align:left;
}
td.spacer
{
	width:10px;
}

.dataTable{
	border-collapse: collapse;
	
}
.dataTable thead{
	font-weight: bold;
	text-align: left;
	color: #328A0B;
	
}

.dataTable tfoot{
	font-weight: normal;
	text-align: right;
	
}

.dataTable thead th, .dataTable tbody td, .dataTable tfoot td{
	padding:5px;
}

.dataTable thead tr, .dataTable tbody tr {
	
	background-image: url(../img/structure/dotted_underline.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}


.graphicActions{

	font-size:90%;
	margin-left:5px;
	
}
.graphicActions img{
	vertical-align:middle;
	margin-right:2px;
}

.graphicActions a{
	margin-right:4px;
}
.graphicActions a:link, .graphicActions a:visited{
	text-decoration:none;
}

.graphicActions a:hover{
	text-decoration:underline;
}
