<!DOCTYPE html>
<html lang="en"
      ng-csp>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Supportworks SelfService Portal</title>
    <link rel="icon"
          type="image/png"
          href="favicon.ico">
    <link href="libs/angular/angular-csp.css"
          rel="stylesheet">
    <link href="libs/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="libs/bootstrap-daterangepicker/daterangepicker.css"
          rel="stylesheet"/>
    <link href="libs/font-awesome/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="libs/font-awesome/css/style.css"
          rel="stylesheet">
    <link href="libs/angularjs-toaster/toaster.min.css"
          rel="stylesheet">
    <link href="libs/ladda/dist/ladda-themeless.min.css"
          rel="stylesheet">
    <link href="libs/angular-bootstrap-nav-tree/dist/abn_tree.css"
          rel="stylesheet">
    <link href="libs/ngHierarchicalSelector/release/ng-hierarchical-selector.0.4.3.min.css"
          rel="stylesheet" >
    <link href="libs/angular-timeline/dist/angular-timeline.css"
          rel="stylesheet"/>
    <link href="libs/angular-timeline/dist/angular-timeline-bootstrap.css"
          rel="stylesheet"/>
    <link href="libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="libs/angular-confirm-master/dist/angular-confirm.min.css">
    <link rel="stylesheet" href="libs/angucomplete-alt/angucomplete-alt.css">
    <link href="css/main.css"
          rel="stylesheet">
    <!-- Load Branding -->
    <style>
      .panel-primary {
        border-color: {{panelPrimaryHeaderColor}};
      }
      .panel-primary>.panel-heading {
        color: {{panelPrimaryTitleColor}};
        background-color: {{panelPrimaryHeaderColor}};
        border-color: {{panelPrimaryHeaderColor}};
      }
      .panel-primary .panel-footer {
        color: {{panelPrimaryHeaderColor}};
        border-color: {{panelPrimaryHeaderColor}};
      }
      .panel-default .panel-heading {
        color: {{panelDefaultTitleColor}};
        background-color: {{panelDefaultHeaderColor}};
        border-color: {{panelDefaultHeaderColor}};
      }
      .hb-title .header-icon .fa-circle {
        color: {{titleCircleColour}};
      }
    </style>


    <!-- Array.reduce polyfill -->
    <script>Array.prototype.reduce||(Array.prototype.reduce=function(r){"use strict";if(null==this)throw new TypeError("Array.prototype.reduce called on null or undefined");if("function"!=typeof r)throw new TypeError(r+" is not a function");var e,t=Object(this),n=t.length>>>0,o=0;if(2==arguments.length)e=arguments[1];else{for(;n>o&&!(o in t);)o++;if(o>=n)throw new TypeError("Reduce of empty array with no initial value");e=t[o++]}for(;n>o;o++)o in t&&(e=r(e,t[o],o,t));return e});</script>
    <!-- End polyfill -->

</head>

<body>

  <!--Toaster container-->
  <toaster-container
      toaster-options="{'close-button':{ 'toast-error': true },
                        'prevent-duplicates': true,
                        'body-output-type': 'trustedHtml',
                        'position-class':'toast-top-right',
                        'time-out': 4000 }">
  </toaster-container>
  <!--END OF TOASTERS-->

  <!--Navbar Container-->
  <div sw-navbar=""></div>
  <!--END OF NAVBAR-->

  <div ui-view="" class="main-content"></div>

  <div class="main-spacer"></div>

  <script src="config/branding.js"></script>

  <!-- Fusioncharts includes -->
  <script src="libs/fusioncharts/js/fusioncharts.js"></script>
  <script src="libs/fusioncharts/js/themes/fusioncharts.theme.zune.js"></script>

  <!-- Angular Dependencies -->
  <script src="libs/babel-polyfill/polyfill.min.js"></script>
  <script src="libs/json-editor/dist/jsoneditor.js"></script>
  <script src="libs/jquery/dist/jquery.min.js"></script>
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular-json-editor/dist/angular-json-editor.min.js"></script>
  <script src="libs/angular-animate/angular-animate.min.js" ></script>
  <script src="libs/ng-backstretch/dist/ng-backstretch.min.js" ></script>
  <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="libs/a0-angular-storage/dist/angular-storage.min.js"> </script>
  <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="libs/angular-cookies/angular-cookies.min.js"></script>
  <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js" ></script>
  <script src="libs/angularUtils-pagination/dirPagination.js"></script>
  <script src="libs/angularjs-toaster/toaster.min.js" ></script>
  <script src="libs/ladda/dist/spin.min.js" ></script>
  <script src="libs/ladda/dist/ladda.min.js" ></script>
  <script src="libs/angular-ladda/dist/angular-ladda.min.js" ></script>
  <script src="libs/angular-auto-validate/dist/jcs-auto-validate.min.js" ></script>
  <script src="libs/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
  <script src="libs/ui-router-extras/release/ct-ui-router-extras.min.js"></script>
  <script src="libs/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
  <script src="libs/moment/moment.js"></script>
  <script src="libs/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="libs/angular-daterangepicker/js/angular-daterangepicker.js"></script>
  <script src="libs/fusioncharts/angularjs/angular-fusioncharts.min.js"></script>
  <script src="libs/ngHierarchicalSelector/release/ng-hierarchical-selector.0.4.3.min.js"></script>
  <script src="libs/angular-timeline/dist/angular-timeline.js"></script>
  <script src="libs/hbSwXMLMC/xmlmc.module.js"></script>
  <script src="libs/angular-deep-blur-1.0.9/angular-deep-blur.js"></script>
  <script src="libs/angular-confirm-master/dist/angular-confirm.min.js"></script>
  <script src="libs/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
  <script src="libs/abdmob/x2js/xml2json.min.js"></script>
  
  
  <script src="libs/requirejs/require.js"></script>
  <script src="index.js"></script>
 
</body>
</html>
